@page
@model DPAWaiver.Pages.Private.PersonnelRequest.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Personnel Request Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.EstimatedNumberofFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelRequestWaiver.EstimatedNumberofFTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.RequestedSalary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelRequestWaiver.RequestedSalary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.DetailJustification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelRequestWaiver.DetailJustification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.JobDuties)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelRequestWaiver.JobDuties)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelRequestWaiver.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.approvedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelRequestWaiver.approvedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.OtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelRequestWaiver.OtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.OtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelRequestWaiver.OtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelRequestWaiver.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.WaiverNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelRequestWaiver.WaiverNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelRequestWaiver.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.SubmittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelRequestWaiver.SubmittedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.AdditionalComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelRequestWaiver.AdditionalComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.CostEstimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelRequestWaiver.CostEstimate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PersonnelRequestWaiver.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
