@page
@model DPAWaiver.Pages.Private.PersonnelRequest.DetailsModel

@{
    ViewData["Title"] = "Details";
}
@if (Model.PersonnelRequestWaiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.PersonnelRequestWaiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.PersonnelRequestWaiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.JobDuties)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.PersonnelRequestWaiver.JobDuties)
                        </dd>
                    </dl><!-- dl end of PersonnelRequestWaiver.JobDuties -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.EstimatedNumberofStaff)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.PersonnelRequestWaiver.EstimatedNumberofStaff)
                        </dd>
                    </dl><!-- dl end of PersonnelRequestWaiver.EstimatedNumberofStaff -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.positionFile)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.PersonnelRequestWaiver.positionFile)
                        </dd>
                    </dl><!-- dl end of PersonnelRequestWaiver.positionFile -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.EstimatedNumberofStaff)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.PersonnelRequestWaiver.EstimatedNumberofStaff)
                        </dd>
                    </dl><!-- dl end of PersonnelRequestWaiver.EstimatedNumberofStaff -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.RequestedClassification)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.PersonnelRequestWaiver.RequestedClassification)
                        </dd>
                    </dl><!-- dl end of PersonnelRequestWaiver.RequestedClassification -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.RequestedSalary)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.PersonnelRequestWaiver.RequestedSalary)
                        </dd>
                    </dl><!-- dl end of PersonnelRequestWaiver.RequestedSalary -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.DetailJustification)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.PersonnelRequestWaiver.DetailJustification)
                        </dd>
                    </dl><!-- dl end of PersonnelRequestWaiver.DetailJustification -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.PersonnelRequestWaiver.AdditionalComments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.PersonnelRequestWaiver.AdditionalComments)
                        </dd>
                    </dl><!-- dl end of PersonnelRequestWaiver.AdditionalComments -->
                </div>
            </div>
        </div>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.PersonnelRequestWaiver.ID">Edit</a> |
    <a asp-page="./Private/WaiverList">Back to List</a>
</div>
