@page
@model DPAWaiver.Pages.Private.PersonnelRequest.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelRequestWaiver[0].JobDuties)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelRequestWaiver[0].RequestedSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelRequestWaiver[0].DetailJustification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelRequestWaiver[0].EstimatedNumberofFTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelRequestWaiver[0].CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelRequestWaiver[0].approvedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelRequestWaiver[0].OtherFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelRequestWaiver[0].OtherLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelRequestWaiver[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelRequestWaiver[0].WaiverNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelRequestWaiver[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelRequestWaiver[0].SubmittedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelRequestWaiver[0].CostEstimate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PersonnelRequestWaiver) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobDuties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestedSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetailJustification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedNumberofFTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approvedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaiverNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostEstimate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
