@page
@model DPAWaiver.Pages.Private.ServicePrint.DetailsModel

@{
ViewData["Title"] = "Details";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (Model.ServicePrintWaiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.ServicePrintWaiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.ServicePrintWaiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServicePrintWaiver.EstimateObtained)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServicePrintWaiver.EstimateObtained)
                        </dd>
                    </dl><!-- dl end of ServicePrintWaiver.EstimatedObtained -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServicePrintWaiver.PaperStockType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServicePrintWaiver.PaperStockType)
                        </dd>
                    </dl><!-- dl end of ServicePrintWaiver.PaperStockType -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServicePrintWaiver.otherPaperStockReason)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServicePrintWaiver.otherPaperStockReason)
                        </dd>
                    </dl><!-- dl end of ServicePrintWaiver.otherPaperStockReason -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServicePrintWaiver.estimateFile)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServicePrintWaiver.estimateFile)
                        </dd>
                    </dl><!-- dl end of ServicePrintWaiver.estimateFile -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServicePrintWaiver.FinishingType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServicePrintWaiver.FinishingType)
                        </dd>
                    </dl><!-- dl end of ServicePrintWaiver.FinishingType -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServicePrintWaiver.Reprint)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServicePrintWaiver.Reprint)
                        </dd>
                    </dl><!-- dl end of ServicePrintWaiver.Reprint -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServicePrintWaiver.previousPrinter)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServicePrintWaiver.previousPrinter)
                        </dd>
                    </dl><!-- dl end of ServicePrintWaiver.previousPrinter -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServicePrintWaiver.numberOfOriginals)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServicePrintWaiver.numberOfOriginals)
                        </dd>
                    </dl><!-- dl end of ServicePrintWaiver.numberOfOriginals -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServicePrintWaiver.Quantity)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServicePrintWaiver.Quantity)
                        </dd>
                    </dl><!-- dl end of ServicePrintWaiver.Quantity -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServicePrintWaiver.FourColorJob)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServicePrintWaiver.FourColorJob)
                        </dd>
                    </dl><!-- dl end of ServicePrintWaiver.FourColorJob -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServicePrintWaiver.numberOfInks)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServicePrintWaiver.numberOfInks)
                        </dd>
                    </dl><!-- dl end of ServicePrintWaiver.numberOfInks -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServicePrintWaiver.projectDueDate)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServicePrintWaiver.projectDueDate)
                        </dd>
                    </dl><!-- dl end of ServicePrintWaiver.projectDueDate -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServicePrintWaiver.FinishedSize)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServicePrintWaiver.FinishedSize)
                        </dd>
                    </dl><!-- dl end of ServicePrintWaiver.FinishedSize -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServicePrintWaiver.AdditionalComments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServicePrintWaiver.AdditionalComments)
                        </dd>
                    </dl><!-- dl end of ServicePrintWaiver.AdditionalComments -->
                </div>
            </div>
        </div>
    </dl>
    <partial name="_ViewInvoices" model="@Model.Invoices" />
    <partial name="_ViewAttachments" model="@Model.Attachments" />
    <partial name="_ViewActions" model="@Model.Actions" />
    @await Html.PartialAsync("_PostUnderReview",@Model.ServicePrintWaiver, new ViewDataDictionary(ViewData) {
    {"garbage", "garbage"},
    { "IsUser", @Model.UserWithDepartment.IsUser()},
    { "IsReviewer", @Model.UserWithDepartment.IsReviewer()},
    })




    <partial name='_Logout' />
    <div style="clear: both"></div>