@page
@model DPAWaiver.Pages.Private.SoftwareDesign.DeleteModel

@{
ViewData["Title"] = "Delete";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (Model.SoftwareDesignWaiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.SoftwareDesignWaiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.SoftwareDesignWaiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.typeOfSoftware)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.typeOfSoftware)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.typeOfSoftware -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.numberOfLicenses)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.numberOfLicenses)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.numberOfLicenses -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.newOrReplace)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.newOrReplace)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.newOrReplace -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.costOfPresentService)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.costOfPresentService)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.costOfPresentService -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.servicesReceived)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.servicesReceived)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.servicesReceived -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.softwareProvider)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.softwareProvider)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.softwareProvider -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.softwareVersion)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.softwareVersion)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.softwareVersion -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.selectionReason)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.selectionReason)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.selectionReason -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.expectedDuration)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.expectedDuration)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.expectedDuration -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.acquisitionType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.acquisitionType)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.acquisitionType -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.subscriptionOrPurchase)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.subscriptionOrPurchase)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.subscriptionOrPurchase -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.purchaseAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.purchaseAmount)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.purchaseAmount -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.monthlySubscriptionAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.monthlySubscriptionAmount)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.monthlySubscriptionAmount -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.numberOfMonths)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.numberOfMonths)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.numberOfMonths -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.annualMaintenanceCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.annualMaintenanceCost)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.annualMaintenanceCost -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.operatorClassification)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.operatorClassification)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.operatorClassification -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.Grade)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.Grade)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.Grade -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.numberOfFTE)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.numberOfFTE)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.numberOfFTE -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.hoursPerFTEPerWeek)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.hoursPerFTEPerWeek)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.hoursPerFTEPerWeek -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.totalWeeklySalary)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.totalWeeklySalary)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.totalWeeklySalary -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.monthlySupervisionAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.monthlySupervisionAmount)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.monthlySupervisionAmount -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.justificationDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.justificationDescription)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.justificationDescription -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.alternativesConsidered)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.alternativesConsidered)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.alternativesConsidered -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDesignWaiver.AdditionalComments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDesignWaiver.AdditionalComments)
                        </dd>
                    </dl><!-- dl end of SoftwareDesignWaiver.AdditionalComments -->
                </div>
            </div>
        </div>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="SoftwareDesignWaiver.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Private/WaiverList">Back to List</a>
    </form>
</div>