@page
@model DPAWaiver.Pages.Private.SoftwareDesign.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                 @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].OtherFirstName)
                </th>
               <th>
                   @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].OtherLastName)
                   </th>
               <th>
                   @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].projectName)
                   </th>
               <th>
                   @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].SubmittedOn)
                   </th>
               <th>
                   @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].CostEstimate)
                   </th>
               <th>
                   @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].typeOfSoftware)
                   </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].numberOfLicenses)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].newOrReplace)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].softwareVersion)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].costOfPresentService)
                    </th>        
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].softwareProvider)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].purchaseAmount)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].selectionReason)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].expectedDuration)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].acquisitionType)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].subscriptionOrPurchase)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].monthlySubscriptionAmount)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].numberOfMonths)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].purchaseAmount)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].annualMaintenanceCost)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].operatorClassification)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].Grade)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].numberOfFTE)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].numberOfLicenses)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].hoursPerFTEPerWeek)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].annualMaintenanceCost)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].hoursPerFTEPerWeek)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].totalWeeklySalary)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].monthlySupervisionAmount)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].monthlyManagementAmount)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].justificationDescription)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].alternativesConsidered)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].Status)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoftwareDesignWaiver[0].AdditionalComments)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SoftwareDesignWaiver) {
        <tr>
                           <td> 
                               @Html.DisplayFor(modelItem => item.OtherFirstName) 
                               </td>
               <td> 
                   @Html.DisplayFor(modelItem => item.OtherLastName) 
                   </td>
               <td> 
                   @Html.DisplayFor(modelItem => item.projectName) 
                   </td>
               <td> 
                   @Html.DisplayFor(modelItem => item.SubmittedOn) 
                   </td>
               <td> 
                   @Html.DisplayFor(modelItem => item.CostEstimate) 
                   </td>
               <td> 
                   @Html.DisplayFor(modelItem => item.typeOfSoftware) 
                   </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.numberOfLicenses) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.newOrReplace) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.softwareVersion) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.costOfPresentService) 
                    </td>        
                <td> 
                    @Html.DisplayFor(modelItem => item.softwareProvider) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.purchaseAmount) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.selectionReason) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.expectedDuration) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.acquisitionType) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.subscriptionOrPurchase) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.monthlySubscriptionAmount) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.numberOfMonths) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.purchaseAmount) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.annualMaintenanceCost) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.operatorClassification) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.Grade) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.numberOfFTE) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.numberOfLicenses) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.hoursPerFTEPerWeek) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.annualMaintenanceCost) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.hoursPerFTEPerWeek) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.totalWeeklySalary) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.monthlySupervisionAmount) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.monthlyManagementAmount) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.justificationDescription) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.alternativesConsidered) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.Status) 
                    </td>
                <td> 
                    @Html.DisplayFor(modelItem => item.AdditionalComments) 
                    </td>
            <td>


                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
           
           <td> 
                          
                          </td>
        </tr>
}
    </tbody>
</table>
