@page
@model DPAWaiver.Pages.Private.EquipmentScanning.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Equipment Scanning Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.justificationDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.justificationDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.currentSystemDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.currentSystemDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.currentMake)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.currentMake)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.currentModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.currentModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.newOrReplace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.newOrReplace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.acquistionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.acquistionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.monthlyCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.monthlyCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.averageMonthlyVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.averageMonthlyVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.multiFunctionConsidered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.multiFunctionConsidered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.multiFunctionReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.multiFunctionReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.firstYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.firstYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.secondYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.secondYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.thirdYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.thirdYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.fourthYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.fourthYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.fifthYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.fifthYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.numberofEquipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.numberofEquipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.scannerType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.scannerType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.otherScannerType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.otherScannerType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.Make)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.Make)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.acquisitionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.acquisitionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.solicitationSubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.solicitationSubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.statepriceSubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.statepriceSubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.purchaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.purchaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.leaseDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.leaseDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.numberOfMonths)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.numberOfMonths)
        </dd> 
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.monthlyLeaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.monthlyLeaseAmount)
        </dd> 
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.makeAndModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.makeAndModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.selectionReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.selectionReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.productionCapacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.productionCapacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.leaseOrPurchase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.leaseOrPurchase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.numberOfYears)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.numberOfYears)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.costOfLeasePerYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.costOfLeasePerYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.expectedUsefulLife)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.expectedUsefulLife)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.depreciationCostPerYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.depreciationCostPerYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.annualMaintenanceCostPerYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.annualMaintenanceCostPerYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.suppliesCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.suppliesCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.softwareName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.softwareName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.softwareCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.softwareCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.annualLicenseFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.annualLicenseFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.numberOfLicenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.numberOfLicenses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.totalAnnualLicenseCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.totalAnnualLicenseCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.annualMaintenanceCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.annualMaintenanceCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.totalSoftwareCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.totalSoftwareCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.operatorClassification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.operatorClassification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.productionFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.productionFTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.hoursPerFTEPerWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.hoursPerFTEPerWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.baseHourlyRatePerFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.baseHourlyRatePerFTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.fullyLoadedHourlyRatePerFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.fullyLoadedHourlyRatePerFTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.totalAnnualPersonnelCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.totalAnnualPersonnelCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.monthlySupervisionAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.monthlySupervisionAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.monthlyManagementAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.monthlyManagementAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.additionalWorkspaceRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.additionalWorkspaceRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.totalSpaceRequiredInSQFT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.totalSpaceRequiredInSQFT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.costPerSQFT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.costPerSQFT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.annualAmountForUtilities)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.annualAmountForUtilities)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.totalSpaceCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.totalSpaceCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.computerCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.computerCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.furnitureCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.furnitureCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.cubiclePartitionCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.cubiclePartitionCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.constructionCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.constructionCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.miscellaneousCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.miscellaneousCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.descriptionMiscellaneousCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.descriptionMiscellaneousCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.totalAdditionalOneTimeCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.totalAdditionalOneTimeCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.totalCostOfOwnership)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.totalCostOfOwnership)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.alternativesDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.alternativesDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.additionalComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.additionalComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.OtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.OtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.OtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.OtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.WaiverNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.WaiverNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.ProjectName)
        </dd>
       <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.SubmittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.SubmittedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.CostEstimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentScanningWaiver.CostEstimate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EquipmentScanningWaiver.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
