@page
@model DPAWaiver.Pages.Private.EquipmentScanning.DeleteModel

@{
ViewData["Title"] = "Delete";
}

@if (Model.EquipmentScanningWaiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.EquipmentScanningWaiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.EquipmentScanningWaiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.currentSystemDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.currentSystemDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.currentSystemDescription -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.newOrReplace)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.newOrReplace)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.newOrReplace -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.currentMake)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.currentMake)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.currentMake -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.currentModel)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.currentModel)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.currentModel -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.acquisitionDate)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.acquisitionDate)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.acquisitionDate -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.monthlyCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.monthlyCost)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.monthlyCost -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.averageMonthlyVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.averageMonthlyVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.averageMonthlyVolume -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.firstYearVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.firstYearVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.firstYearVolume -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.secondYearVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.secondYearVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.secondYearVolume -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.thirdYearVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.thirdYearVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.thirdYearVolume -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.fourthYearVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.fourthYearVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.fourthYearVolume -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.fifthYearVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.fifthYearVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.fifthYearVolume -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.scannerType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.scannerType)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.scannerType -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.NumberofEquipment)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.NumberofEquipment)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.NumberofEquipment -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.Make)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.Make)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.Make -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.Model)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.Model)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.Model -->
                </div>
<div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.acquisitionType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.acquisitionType)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.acquisitionType -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.solicitationSubType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.solicitationSubType)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.solicitationSubType -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.purchaseAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.purchaseAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.purchaseAmount -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.leaseDuration)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.leaseDuration)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.leaseDuration -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.numberOfYears)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.numberOfYears)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.numberOfYears -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.costOfLeasePerYear)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.costOfLeasePerYear)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.costOfLeasePerYear -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.expectedUsefulLife)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.expectedUsefulLife)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.expectedUsefulLife -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.depreciationCostPerYear)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.depreciationCostPerYear)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.depreciationCostPerYear -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.annualMaintenanceCostPerYear)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.annualMaintenanceCostPerYear)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.annualMaintenanceCostPerYear -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.suppliesCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.suppliesCost)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.suppliesCost -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.totalEquipmentCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.totalEquipmentCost)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.totalEquipmentCost -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.softwareName)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.softwareName)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.softwareName -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.softwareCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.softwareCost)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.softwareCost -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.annualLicenseFee)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.annualLicenseFee)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.annualLicenseFee -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.numberOfLicenses)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.numberOfLicenses)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.numberOfLicenses -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.totalAnnualLicenseCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.totalAnnualLicenseCost)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.totalAnnualLicenseCost -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.monthlySupervisionAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.monthlySupervisionAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.monthlySupervisionAmount -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.monthlyManagementAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.monthlyManagementAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.monthlyManagementAmount -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.additionalWorkspaceRequired)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.additionalWorkspaceRequired)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.additionalWorkspaceRequired -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.totalSpaceRequiredInSQFT)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.totalSpaceRequiredInSQFT)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.totalSpaceRequiredInSQFT -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.costPerSQFT)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.costPerSQFT)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.costPerSQFT -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.annualAmountForUtilities)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.annualAmountForUtilities)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.annualAmountForUtilities -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.totalSpaceCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.totalSpaceCost)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.totalSpaceCost -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.computerCosts)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.computerCosts)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.computerCosts -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.furnitureCosts)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.furnitureCosts)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.furnitureCosts -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.cubiclePartitionCosts)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.cubiclePartitionCosts)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.cubiclePartitionCosts -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.constructionCosts)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.constructionCosts)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.constructionCosts -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.miscellaneousCosts)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.miscellaneousCosts)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.miscellaneousCosts -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.descriptionMiscellaneousCosts)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.descriptionMiscellaneousCosts)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.descriptionMiscellaneousCosts -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.totalAdditionalOneTimeCosts)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.totalAdditionalOneTimeCosts)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.totalAdditionalOneTimeCosts -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.totalCostOfOwnership)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.totalCostOfOwnership)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.totalCostOfOwnership -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.alternativesDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.alternativesDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.alternativesDescription -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentScanningWaiver.AdditionalComments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentScanningWaiver.AdditionalComments)
                        </dd>
                    </dl><!-- dl end of EquipmentScanningWaiver.AdditionalComments -->
                </div>
            </div>
        </div>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="EquipmentScanningWaiver.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Private/WaiverList">Back to List</a>
    </form>
</div>