@page
@model DPAWaiver.Pages.Private.EquipmentScanning.EditModel

@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <partial name="_UserInformation" model="@Model.UserWithDepartment" />
    @if (Model.EquipmentScanningWaiver.OtherFirstName != null && Model.EquipmentScanningWaiver.OtherLastName != null)
    {
    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver On Behalf Of</h3>
        </div>
        <div class="panel-body">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="EquipmentScanningWaiver.OtherFirstName" class="control-label fontWeightNormal"></label>
                    <input asp-for="EquipmentScanningWaiver.OtherFirstName" class="form-control" placeholder="@Html.DisplayNameFor(model => Model.EquipmentScanningWaiver.OtherFirstName)" />
                    <span asp-validation-for="EquipmentScanningWaiver.OtherFirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="EquipmentScanningWaiver.OtherLastName" class="control-label fontWeightNormal"></label>
                    <input asp-for="EquipmentScanningWaiver.OtherLastName" class="form-control" placeholder="@Html.DisplayNameFor(model => Model.EquipmentScanningWaiver.OtherLastName)" />
                    <span asp-validation-for="EquipmentScanningWaiver.OtherLastName" class="text-danger"></span>
                </div>
            </div>
        </div>
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">User Information</h3>
    </div>
    <div class="panel-body">

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="EquipmentScanningWaiver.OtherFirstName" class="control-label fontWeightNormal"></label>
                        <input asp-for="EquipmentScanningWaiver.OtherFirstName" class="form-control" placeholder="@Html.DisplayNameFor(model => Model.EquipmentScanningWaiver.OtherFirstName)" />
                        <span asp-validation-for="EquipmentScanningWaiver.OtherFirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="EquipmentScanningWaiver.OtherLastName" class="control-label fontWeightNormal"></label>
                        <input asp-for="EquipmentScanningWaiver.OtherLastName" class="form-control" placeholder="@Html.DisplayNameFor(model => Model.EquipmentScanningWaiver.OtherLastName)" />
                        <span asp-validation-for="EquipmentScanningWaiver.OtherLastName" class="text-danger"></span>
                    </div>
                </div>

            </div>

        </div>
    </div>
    }

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Information</h3>
    </div>
    <div class="panel-body">
        <div class="row" style="margin-bottom: 14px">
            <div class="col-md-4 col-xs-4">
                Purpose: Equipment
            </div>
            <div class="col-md-4 col-xs-4">
                Type: Scanning/Imaging/Microfilm
            </div>
            <div class="col-md-4 col-xs-4">
                Status: @Model.EquipmentScanningWaiver.Status
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="form-group required">
                    <label asp-for="EquipmentScanningWaiver.projectName" class="control-label fontWeightNormal">Project Name:</label>
                    <input type="text" class="form-control" asp-for="EquipmentScanningWaiver.projectName" required="true" placeholder="Your Project Name">
                    <span asp-validation-for="EquipmentScanningWaiver.projectName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label asp-for="EquipmentScanningWaiver.SubmittedOn" class="control-label fontWeightNormal">Submitted Date:</label>
                    <input type="date" class="form-control" asp-for="EquipmentScanningWaiver.SubmittedOn" required="true" value="05/04/2018">
                    <span asp-validation-for="EquipmentScanningWaiver.SubmittedOn" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label asp-for="EquipmentScanningWaiver.CostEstimate" class="control-label fontWeightNormal">Project Budget/Cost Estimate:</label>
                    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the project cost and estimate such as 9999.99"></span>
                    <input type="number" class="form-control" asp-for="EquipmentScanningWaiver.CostEstimate" required="true" step="0.01">
                    <span asp-validation-for="EquipmentScanningWaiver.CostEstimate" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <div class="panel-body">
        <div class="form-group required">
            <label asp-for="EquipmentScanningWaiver.justificationDescription" class="control-label fontWeightNormal">Justification for the request:</label>
            <textarea class="form-control" asp-for="EquipmentScanningWaiver.justificationDescription" rows='2'></textarea>
            <span asp-validation-for="EquipmentScanningWaiver.justificationDescription" class="text-danger"></span>
        </div>

        <div class="form-group required">
            <label asp-for="EquipmentScanningWaiver.currentSystemDescription" class="control-label fontWeightNormal">How do you currently meet this need?</label>
            <textarea class="form-control" asp-for="EquipmentScanningWaiver.currentSystemDescription" rows="2"></textarea>
            <span asp-validation-for="EquipmentScanningWaiver.currentSystemDescription" class="text-danger"></span>
        </div>

        <div class='row'>
            <div class='col-sm-6 col-xs-12'>
                <div class="form-group required">
                    <label asp-for="EquipmentScanningWaiver.newOrReplace" class="control-label fontWeightNormal">Is this new addition or replacement?</label>
                    <select class="form-control" asp-for="EquipmentScanningWaiver.newOrReplace">
                        <option>Please select one</option>
                        <option value='0'>Additional</option>
                        <option>New</option>
                        <option value='1'>Replacement</option>
                    </select>
                    <span asp-validation-for="EquipmentScanningWaiver.newOrReplace" class="text-danger"></span>
                </div>
            </div>
            <div class='col-sm-6 col-xs-12' id='currentMakeDiv'>
                <div class="form-group required">
                    <label asp-for="EquipmentScanningWaiver.currentMake" class="control-label fontWeightNormal">Current Make</label>
                    <input type="text" class="form-control" asp-for="EquipmentScanningWaiver.currentMake" aria-describedby="currentMake" placeholder="Current Make">
                    <span asp-validation-for="EquipmentScanningWaiver.currentMake" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row" id='modelAndAcquisitionDiv'>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label asp-for="EquipmentScanningWaiver.currentModel" class="control-label fontWeightNormal">Current Model</label>
                    <input type="text" class="form-control" asp-for="EquipmentScanningWaiver.currentModel" aria-describedby="currentModel" placeholder="Current Model">
                    <span asp-validation-for="EquipmentScanningWaiver.currentModel" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label asp-for="EquipmentScanningWaiver.acquisitionDate" class="control-label fontWeightNormal">Acquisition Date</label>
                    <input type="date" class="form-control" asp-for="EquipmentScanningWaiver.acquisitionDate" aria-describedby="acquisitionDate" placeholder="Acquisition Date">
                    <span asp-validation-for="EquipmentScanningWaiver.acquisitionDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group required">
                    <label asp-for="EquipmentScanningWaiver.monthlyCost" class="control-label fontWeightNormal">Monthly Cost of Current Service</label>
                    <input type="number" class="form-control" asp-for="EquipmentScanningWaiver.monthlyCost" aria-describedby="monthlyCost" placeholder="Monthly Cost of Current Service">
                    <span asp-validation-for="EquipmentScanningWaiver.monthlyCost" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class='form-group required'>
                    <label asp-for='EquipmentScanningWaiver.averageMonthlyVolume' class='control-label fontWeightNormal'>Current Average Monthly Volume <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Enter the current average montly volume. This is a numeric field.'></span> </label>
                    <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.averageMonthlyVolume' aria-describedby='averageMonthlyVolume' placeholder='Current Average Monthly Volume'>
                    <span asp-validation-for="EquipmentScanningWaiver.averageMonthlyVolume" class="text-danger"></span>
                </div>
            </div>
        </div>



        <div class='row'>
            <div class='col-sm-6 col-xs-12'>
                <div class='form-group required'>
                    <label asp-for='EquipmentScanningWaiver.multiFunctionConsidered' class='control-label fontWeightNormal'>Did you consider Multifunction device for scanning</label>
                    <select class='form-control' asp-for='EquipmentScanningWaiver.multiFunctionConsidered' aria-describedby='multiFunctionConsidered'>
                        <option value='0'>No</option>
                        <option value='1'>Yes</option>
                    </select>
                    <span asp-validation-for="EquipmentScanningWaiver.multiFunctionConsidered" class="text-danger"></span>
                </div>
            </div>
            <div class='col-sm-6 col-xs-12' id='multiFunctionReasonDiv'>
                <div class='form-group required'>
                    <label asp-for='EquipmentScanningWaiver.multiFunctionReason' class='control-label fontWeightNormal'>If no, please explain</label>
                    <input type='text' class='form-control' asp-for='EquipmentScanningWaiver.multiFunctionReason' aria-describedby='multiFunctionReason' placeholder='If no, please explain'>
                    <span asp-validation-for="EquipmentScanningWaiver.multiFunctionReason" class="text-danger"></span>
                </div>

            </div>
        </div>

        <div class="panel panel-primary marginTop20px">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Average Monthly Volume For Next Five Years</h3>
            </div>
            <div class="panel-body">
                <div class="form-group required col-sm-2 col-sm-offset-1">
                    <label asp-for="EquipmentScanningWaiver.firstYearVolume" class="control-label fontWeightNormal">1
                        <sup>st</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for first year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" asp-for="EquipmentScanningWaiver.firstYearVolume">
                    <span asp-validation-for="EquipmentScanningWaiver.firstYearVolume" class="text-danger"></span>
                </div>
                <div class="form-group required col-sm-2">
                    <label asp-for="EquipmentScanningWaiver.secondYearVolume" class="control-label fontWeightNormal">2
                        <sup>nd</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for second year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" asp-for="EquipmentScanningWaiver.secondYearVolume">
                    <span asp-validation-for="EquipmentScanningWaiver.secondYearVolume" class="text-danger"></span>
                </div>
                <div class="form-group required col-sm-2">
                    <label asp-for="EquipmentScanningWaiver.thirdYearVolume" class="control-label fontWeightNormal">3
                        <sup>rd</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for third year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" asp-for="EquipmentScanningWaiver.thirdYearVolume">
                    <span asp-validation-for="EquipmentScanningWaiver.thirdYearVolume" class="text-danger"></span>
                </div>
                <div class="form-group required col-sm-2">
                    <label asp-for="EquipmentScanningWaiver.fourthYearVolume" class="control-label fontWeightNormal">4
                        <sup>th</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for fourth year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" asp-for="EquipmentScanningWaiver.fourthYearVolume">
                    <span asp-validation-for="EquipmentScanningWaiver.fourthYearVolume" class="text-danger"></span>
                </div>
                <div class="form-group required col-sm-2">
                    <label asp-for="EquipmentScanningWaiver.fifthYearVolume" class="control-label fontWeightNormal">5
                        <sup>th</sup> Yr&nbsp;
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the anticipated volume for fifth year
This is a numeric field."></span>
                    </label>
                    <input type="number" class="form-control" asp-for="EquipmentScanningWaiver.fifthYearVolume">
                    <span asp-validation-for="EquipmentScanningWaiver.fifthYearVolume" class="text-danger"></span>
                </div>

            </div>
        </div>

        <div class="panel panel-primary marginTop20px">
            <div class="panel-heading">
                <h3 class="panel-title text-center">The type of equipment being requested</h3>
            </div>
            <div class="panel-body">



                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group required">
                            <label asp-for="EquipmentScanningWaiver.NumberofEquipment" class="control-label fontWeightNormal">Number of equipment requested?
                                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="How many pieces of equipment are being requested?
                                    This is a numeric field."></span>
                            </label>
                            <input type="number" class="form-control" asp-for="EquipmentScanningWaiver.NumberofEquipment" aria-describedby="NumberofEquipment" placeholder="Number of Equipment, Integer">
                            <span asp-validation-for="EquipmentScanningWaiver.NumberofEquipment" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.scannerType' class='control-label fontWeightNormal'>Type</label>
                            <select class='form-control' asp-for='EquipmentScanningWaiver.scannerType' aria-describedby='scannerType'>
                                <option>Archive Scanner</option>
                                <option>Book Scanner</option>
                                <option>Large Format Scanner</option>
                                <option>Microfilm Scanner</option>
                                <option>Production Scanner</option>
                                <option>Single Function Scanner</option>
                                <option value='0'>Other</option>
                            </select>
                            <span asp-validation-for="EquipmentScanningWaiver.scannerType" class="text-danger"></span>
                        </div>
                    </div>
                </div>


                <div class='form-group required' id='otherScannerTypeDiv'>
                    <label asp-for='EquipmentScanningWaiver.otherScannerType' class='control-label fontWeightNormal'>Please explain Other</label>
                    <textarea class='form-control' asp-for='EquipmentScanningWaiver.otherScannerType' aria-describedby='otherScannerType' placeholder='Please explain Other'
                        rows='2'></textarea>
                    <span asp-validation-for="EquipmentScanningWaiver.otherScannerType" class="text-danger"></span>
                </div>


                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group required">
                            <label asp-for="EquipmentScanningWaiver.acquisitionType" class="control-label fontWeightNormal">How do you plan to acquire this equipment?</label>
                            <select class="form-control" asp-for="EquipmentScanningWaiver.acquisitionType">
                                <option value="1">Solicitation</option>
                                <option value="2">State Price Agreement</option>
                            </select>
                            <span asp-validation-for="EquipmentScanningWaiver.acquisitionType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" id="solicitationSubDiv">
                        <div class="form-group required">
                            <label asp-for="EquipmentScanningWaiver.solicitationSubType" class="control-label fontWeightNormal">Solicitation SubType?</label>
                            <select class="form-control" asp-for="EquipmentScanningWaiver.solicitationSubType">
                                <option>Discretionary</option>
                                <option>DQ</option>
                                <option>IFB</option>
                                <option>RFP</option>
                            </select>
                            <span asp-validation-for="EquipmentScanningWaiver.solicitationSubType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12" id="statepriceSubDiv">
                        <div class="form-group required">
                            <label asp-for="EquipmentScanningWaiver.statepriceSubType" class="control-label fontWeightNormal">State Price SubType?</label>
                            <select class="form-control" asp-for="EquipmentScanningWaiver.statepriceSubType">
                                <option value='1'>Lease</option>
                                <option value='2'>Purchase</option>
                                <option value='3'>Cancelable Rental</option>
                            </select>
                            <span asp-validation-for="EquipmentScanningWaiver.statepriceSubType" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class='row' id='leaseTermsDiv'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.numberOfMonths' class='control-label fontWeightNormal'>Number of Months of Lease</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.numberOfMonths' aria-describedby='numberOfMonths' placeholder='Number of Months of Lease'>
                            <span asp-validation-for="EquipmentScanningWaiver.numberOfMonths" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.monthlyLeaseAmount' class='control-label fontWeightNormal'>Monthly Lease Amount</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.monthlyLeaseAmount' aria-describedby='monthlyLeaseAmount' placeholder='Monthly Lease Amount'>
                            <span asp-validation-for="EquipmentScanningWaiver.monthlyLeaseAmount" class="text-danger"></span>
                        </div>
                    </div>
                </div>



                <div class='form-group required'>
                    <label asp-for='EquipmentScanningWaiver.makeAndModel' class='control-label fontWeightNormal'>Make and Model</label>
                    <input type='text' class='form-control' asp-for='EquipmentScanningWaiver.makeAndModel' aria-describedby='makeAndModel' placeholder='Make and Model'>
                    <span asp-validation-for="EquipmentScanningWaiver.makeAndModel" class="text-danger"></span>
                </div>

                <div class='form-group required'>
                    <label asp-for='EquipmentScanningWaiver.selectionReason' class='control-label fontWeightNormal'>Reasons for selecting this particular equipment</label>
                    <textarea class='form-control' asp-for='EquipmentScanningWaiver.selectionReason' aria-describedby='selectionReason' placeholder='Reasons for selecting this particular equipment'
                        rows='2'></textarea>
                    <span asp-validation-for="EquipmentScanningWaiver.selectionReason" class="text-danger"></span>
                </div>

                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.productionCapacity' class='control-label fontWeightNormal'>Production Capacity (throughput)<span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Production capacity also throughput'></span></label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.productionCapacity' aria-describedby='productionCapacity' placeholder='Production Capacity (throughput)'>
                            <span asp-validation-for="EquipmentScanningWaiver.productionCapacity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class="form-group required" id='purchaseAmountDiv'>
                            <label asp-for="EquipmentScanningWaiver.purchaseAmount" class="control-label fontWeightNormal">Equipment Purchase Cost
                                <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Equipment Purchase Cost"></span>
                            </label>
                            <input type="number" class="form-control usd_input" asp-for="EquipmentScanningWaiver.purchaseAmount" aria-describedby="purchaseAmount" placeholder="Equipment Purchase Cost"
                                step='0.01'>
                            <span asp-validation-for="EquipmentScanningWaiver.purchaseAmount" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class='row' id='purchaseDataDiv'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.expectedUsefulLife' class='control-label fontWeightNormal'>Expected useful life of this equipment</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.expectedUsefulLife' aria-describedby='expectedUsefulLife' placeholder='Expected useful life of this equipment'>
                            <span asp-validation-for="EquipmentScanningWaiver.expectedUsefulLife" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.depreciationCostPerYear' class='control-label fontWeightNormal'>Depreciation Cost Per Year</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.depreciationCostPerYear' aria-describedby='depreciationCostPerYear' placeholder='Depreciation Cost Per Year'>
                            <span asp-validation-for="EquipmentScanningWaiver.depreciationCostPerYear" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.annualMaintenanceCostPerYear' class='control-label fontWeightNormal'>Cost of Annual Maintenance Per Year</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.annualMaintenanceCostPerYear' aria-describedby='annualMaintenanceCostPerYear'
                                placeholder='Cost of Annual Maintenance Per Year'>
                            <span asp-validation-for="EquipmentScanningWaiver.annualMaintenanceCostPerYear" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.suppliesCost' class='control-label fontWeightNormal'>Cost of Supplies Per Year <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Consumables not included in Maintenance'></span></label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.suppliesCost' aria-describedby='suppliesCost' placeholder='Cost of Supplies - Consumables not included in the Maintenance'>
                            <span asp-validation-for="EquipmentScanningWaiver.suppliesCost" class="text-danger"></span>
                            <!-- TODO: Is this per year or over all. Also what does consumables not included, does that refer to cost of annual maintenance needs hover or a help -->
                        </div>
                    </div>
                </div>

                <div class='form-group required'>
                    <label asp-for='EquipmentScanningWaiver.totalEquipmentCost' class='control-label fontWeightNormal'>Total Equipment Cost <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='System calculated field:  
Total Estimated + Annual Maintenance + Cost of Supplies - Consumables not included in Maintenance'></span></label>
                    <input type='money' class='form-control' asp-for='EquipmentScanningWaiver.totalEquipmentCost' aria-describedby='totalEquipmentCost' placeholder='Total Equipment Cost' disabled='disabled'>
                    <span asp-validation-for="EquipmentScanningWaiver.totalEquipmentCost" class="text-danger"></span>
                    <!--TODO: adjust for proper and check javascript, does it only apply to lease-->
                </div>
            </div>
        </div>

        <div class="panel panel-primary marginTop20px">
            <div class="panel-heading">
                <h3 class="panel-title text-center">The type of software needed for equipment</h3>
            </div>
            <div class="panel-body">
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.softwareName' class='control-label fontWeightNormal'>Name of software</label>
                            <input type='text' class='form-control' asp-for='EquipmentScanningWaiver.softwareName' aria-describedby='softwareName' placeholder='Name of software'>
                            <span asp-validation-for="EquipmentScanningWaiver.softwareName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.softwareCost' class='control-label fontWeightNormal'>Estimated Cost of Software</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.softwareCost' aria-describedby='softwareCost' placeholder='Estimated Cost of Software'>
                            <span asp-validation-for="EquipmentScanningWaiver.softwareCost" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.annualLicenseFee' class='control-label fontWeightNormal'>Annual License Fee if any</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.annualLicenseFee' aria-describedby='annualLicenseFee' placeholder='Annual License Fee if any'>
                            <span asp-validation-for="EquipmentScanningWaiver.annualLicenseFee" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.numberOfLicenses' class='control-label fontWeightNormal'>Number of Licenses Required</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.numberOfLicenses' aria-describedby='numberOfLicenses' placeholder='Number of Licenses Required'>
                            <span asp-validation-for="EquipmentScanningWaiver.numberOfLicenses" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.totalAnnualLicenseCost' class='control-label fontWeightNormal'>Total Annual License Cost:</label>
                            <input type='text' class='form-control' asp-for='EquipmentScanningWaiver.totalAnnualLicenseCost' aria-describedby='totalAnnualLicenseCost' placeholder='Total Annual License Cost:'
                                disabled="disabled" value="0.494">
                            <span asp-validation-for="EquipmentScanningWaiver.totalAnnualLicenseCost" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.annualMaintenanceCost' class='control-label fontWeightNormal'>Annual Maintenance Cost</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.annualMaintenanceCost' aria-describedby='annualMaintenanceCost' placeholder='Annual Maintenance Cost'>
                            <span asp-validation-for="EquipmentScanningWaiver.annualMaintenanceCost" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.totalSoftwareCosts' class='control-label fontWeightNormal'>Total Software Costs</label>
                            <input type='text' class='form-control' asp-for='EquipmentScanningWaiver.totalSoftwareCosts' aria-describedby='totalSoftwareCosts' placeholder='Total Software Costs'
                                disabled="disabled" value="39">
                            <span asp-validation-for="EquipmentScanningWaiver.totalSoftwareCosts" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class='panel panel-primary marginTop20px'>
            <div class='panel-heading'>
                <h3 class='panel-title text-center'>Personnel Required to Operate Equipment</h3>
            </div>
            <div class='panel-body'>
                <div class='form-group required'>
                    <label asp-for='EquipmentScanningWaiver.operatorClassification' class='control-label fontWeightNormal'>Operator Classification/Grade</label>
                    <input type='text' class='form-control' asp-for='EquipmentScanningWaiver.operatorClassification' aria-describedby='operatorClassification' placeholder='Operator Classification/Grade'>
                    <span asp-validation-for="EquipmentScanningWaiver.operatorClassification" class="text-danger"></span>
                </div>
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.productionFTE' class='control-label fontWeightNormal'>Production FTE Required <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Number of FTE'></span></label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.productionFTE' aria-describedby='productionFTE' placeholder='Production FTE Required'>
                            <span asp-validation-for="EquipmentScanningWaiver.productionFTE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.hoursPerFTEPerWeek' class='control-label fontWeightNormal'>Hours Per FTE Per week <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Hours per FTE per week'></span></label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.hoursPerFTEPerWeek' aria-describedby='hoursPerFTEPerWeek' placeholder='Hours Per FTE Per week'>
                            <span asp-validation-for="EquipmentScanningWaiver.hoursPerFTEPerWeek" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.baseHourlyRatePerFTE' class='control-label fontWeightNormal'>Base Hourly Rate Per FTE</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.baseHourlyRatePerFTE' aria-describedby='baseHourlyRatePerFTE' placeholder='Base Hourly Rate Per FTE'>
                            <span asp-validation-for="EquipmentScanningWaiver.baseHourlyRatePerFTE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.fullyLoadedHourlyRatePerFTE' class='control-label fontWeightNormal'>Fully Loaded Hourly Rate Per FTE</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.fullyLoadedHourlyRatePerFTE' aria-describedby='fullyLoadedHourlyRatePerFTE'
                                placeholder='Fully Loaded Hourly Rate Per FTE'>
                            <span asp-validation-for="EquipmentScanningWaiver.fullyLoadedHourlyRatePerFTE" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.totalAnnualPersonnelCost' class='control-label fontWeightNormal'>Total Annual Personnel Cost</label>
                            <input type='text' class='form-control' asp-for='EquipmentScanningWaiver.totalAnnualPersonnelCost' aria-describedby='totalAnnualPersonnelCost' placeholder='Total Annual Personnel Cost'
                                disabled='disabled'>
                            <span asp-validation-for="EquipmentScanningWaiver.totalAnnualPersonnelCost" class="text-danger"></span>
                             <!-- TODO: Calculation is not for annual but for per week -->   
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='panel panel-primary marginTop20px'>
            <div class='panel-heading'>
                <h3 class='panel-title text-center'>Other Ongoing Overhead Costs</h3>
            </div>
            <div class='panel-body'>
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.monthlySupervisionAmount' class='control-label fontWeightNormal'>Monthly Supervision Amount <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Monthly Supervision Amount'></span></label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.monthlySupervisionAmount' aria-describedby='monthlySupervisionAmount' placeholder='Monthly Supervision Amount'>
                            <span asp-validation-for="EquipmentScanningWaiver.monthlySupervisionAmount" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.monthlyManagementAmount' class='control-label fontWeightNormal'>Monthly Management Amount <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Monthly Management Amount'></span></label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.monthlyManagementAmount' aria-describedby='monthlyManagementAmount' placeholder='Monthly Management Amount'>
                            <span asp-validation-for="EquipmentScanningWaiver.monthlyManagementAmount" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class='form-group required'>
                    <label asp-for='EquipmentScanningWaiver.additionalWorkspaceRequired' class='control-label fontWeightNormal'>Is additional workspace required for equipment and personnel</label>
                    <select class='form-control' asp-for='EquipmentScanningWaiver.additionalWorkspaceRequired' aria-describedby='additionalWorkspaceRequired'>
                        <option value='0'>No</option>
                        <option value='1'>Yes</option>
                    </select>
                    <span asp-validation-for="EquipmentScanningWaiver.additionalWorkspaceRequired" class="text-danger"></span>
                </div>
                <div class='row' id='additionalWorkspaceDiv'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.totalSpaceRequiredInSQFT' class='control-label fontWeightNormal'>Total Space Required in Square Feet <span class='glyphicon glyphicon-question-sign' data-toggle='tooltip' title='Total Space Required in sq. ft'></span></label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.totalSpaceRequiredInSQFT' aria-describedby='totalSpaceRequiredInSQFT' placeholder='Total Space Required in Square Feet'>
                            <span asp-validation-for="EquipmentScanningWaiver.totalSpaceRequiredInSQFT" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.costPerSQFT' class='control-label fontWeightNormal'>Cost Per Square Foot</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.costPerSQFT' aria-describedby='costPerSQFT' placeholder='Cost Per Square Foot'>
                            <span asp-validation-for="EquipmentScanningWaiver.costPerSQFT" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.annualAmountForUtilities' class='control-label fontWeightNormal'>Annual Utilies Amount for Additional SQFT</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.annualAmountForUtilities' aria-describedby='annualAmountForUtilities' placeholder='Annual Utilies Amount for Additional SQFT'>
                            <span asp-validation-for="EquipmentScanningWaiver.annualAmountForUtilities" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.totalSpaceCost' class='control-label fontWeightNormal'>Total Space Cost</label>
                            <input type='text' class='form-control' asp-for='EquipmentScanningWaiver.totalSpaceCost' aria-describedby='totalSpaceCost' placeholder='Total Space Cost'
                                disabled='disabled'>
                            <span asp-validation-for="EquipmentScanningWaiver.totalSpaceCost" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class='panel panel-primary marginTop20px'>
            <div class='panel-heading'>
                <h3 class='panel-title text-center'>Additional One Time Costs</h3>
            </div>
            <div class='panel-body'>
                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.computerCosts' class='control-label fontWeightNormal'>Computer Costs</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.computerCosts' aria-describedby='computerCosts' placeholder='Computer Costs'>
                            <span asp-validation-for="EquipmentScanningWaiver.computerCosts" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.furnitureCosts' class='control-label fontWeightNormal'>Furniture Costs</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.furnitureCosts' aria-describedby='furnitureCosts' placeholder='Furniture Costs'>
                            <span asp-validation-for="EquipmentScanningWaiver.furnitureCosts" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.cubiclePartitionCosts' class='control-label fontWeightNormal'>Cubicle Partition Costs</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.cubiclePartitionCosts' aria-describedby='cubiclePartitionCosts' placeholder='Cubicle Partition Costs'>
                            <span asp-validation-for="EquipmentScanningWaiver.cubiclePartitionCosts" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.constructionCosts' class='control-label fontWeightNormal'>Construction and Electrical Work Costs</label>
                            <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.constructionCosts' aria-describedby='constructionCosts' placeholder='Construction and Electrical Work Costs'>
                            <span asp-validation-for="EquipmentScanningWaiver.constructionCosts" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class='form-group required'>
                    <label asp-for='EquipmentScanningWaiver.miscellaneousCosts' class='control-label fontWeightNormal'>Miscellaneous Costs</label>
                    <input type='number' class='form-control' asp-for='EquipmentScanningWaiver.miscellaneousCosts' aria-describedby='miscellaneousCosts' placeholder='Miscellaneous Costs'>
                    <span asp-validation-for="EquipmentScanningWaiver.miscellaneousCosts" class="text-danger"></span>
                </div>
                <div class='form-group required'>
                    <label asp-for='EquipmentScanningWaiver.descriptionMiscellaneousCosts' class='control-label fontWeightNormal'>Description of Miscellaneous Costs</label>
                    <textarea class='form-control' asp-for='EquipmentScanningWaiver.descriptionMiscellaneousCosts' aria-describedby='descriptionMiscellaneousCosts' placeholder='Description of Miscellaneous Costs'
                        rows='2'></textarea>
                    <span asp-validation-for="EquipmentScanningWaiver.descriptionMiscellaneousCosts" class="text-danger"></span>
                </div>

                <div class='row'>
                    <div class='col-sm-6 col-xs-12'>
                        <div class='form-group required'>
                            <label asp-for='EquipmentScanningWaiver.totalAdditionalOneTimeCosts' class='control-label fontWeightNormal'>Total Additional One Time Costs</label>
                            <input type='text' class='form-control' asp-for='EquipmentScanningWaiver.totalAdditionalOneTimeCosts' aria-describedby='totalAdditionalOneTimeCosts'
                                placeholder='Total Additional One Time Costs' disabled='disabled'>
                            <span asp-validation-for="EquipmentScanningWaiver.totalAdditionalOneTimeCosts" class="text-danger"></span>
                        </div>
                    </div>
                    <div class='col-sm-6 col-xs-12'>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Panel Additional One Time Costs -->

        <div class='form-group required'>
            <label asp-for='EquipmentScanningWaiver.totalCostOfOwnership' class='control-label fontWeightNormal'>Total Cost of Ownership</label>
            <input type='text' class='form-control' asp-for='EquipmentScanningWaiver.totalCostOfOwnership' aria-describedby='totalCostOfOwnership' placeholder='Total Cost of Ownership'
                disabled='disabled'>
            <span asp-validation-for="EquipmentScanningWaiver.totalCostOfOwnership" class="text-danger"></span>
        </div>

        <div class="form-group required">
            <label asp-for="EquipmentScanningWaiver.alternativesDescription" class="control-label fontWeightNormal">Please describe the alternatives you have examined before making the request</label>
            <textarea class="form-control" asp-for="EquipmentScanningWaiver.alternativesDescription" rows="2"></textarea>
            <span asp-validation-for="EquipmentScanningWaiver.alternativesDescription" class="text-danger"></span>
        </div>

        
        <div class="form-group">
            <label asp-for="EquipmentScanningWaiver.AdditionalComments" class="control-label fontWeightNormal">Any additional comments:</label>
            <textarea class="form-control" asp-for="EquipmentScanningWaiver.AdditionalComments" rows='2'></textarea>
            <span asp-validation-for="EquipmentScanningWaiver.AdditionalComments" class="text-danger"></span>
        </div>

    </div>
</div>


        <partial name="_ViewInvoices" model="@Model.Invoices" />
        <partial name="_ViewAttachments" model="@Model.Attachments" />

        <div class="row add-gutter marginTop20px">
            <div class="pull-right">
                <a class="btn btn-default" asp-page="/Private/Invoice/Invoice" asp-route-id="@Model.ID"
                    title="Add Invoice" id='addInvoiceButton'>Add Invoice&nbsp;<span
                        class="glyphicon glyphicon-credit-card" aria-hidden="true"></span></a>
                <a class="btn btn-default" asp-page="/Private/Attachment/Attachment" asp-route-id="@Model.ID"
                    title="Upload Supporting Documents" id='uploadAttachmentButton'>Upload Documents&nbsp;<span
                        class="glyphicon glyphicon-file" aria-hidden="true"></span>
                </a>

                <a class="btn btn-default" onclick="print();">Print&nbsp;
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                </a>
                <a class="btn btn-default btn-space-2x" asp-page="/Private/WaiverList">Waiver List&nbsp;
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                </a>
                <button type="submit" class="btn btn-primary" id='updateWaiver'>
                    Update Waiver&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
            </div>
        </div>

</form>

<partial name='_Logout' />
<div style="clear: both"></div>

@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/js/equipment.scanning.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/equipment.scanning.min.js"></script>
    </environment>
}