@page
@model DPAWaiver.Pages.Private.PersonnelContractor.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Personnel Contractor Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.ScopeofWork)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.ScopeofWork)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.ContractorType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.ContractorType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.JobDuties)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.JobDuties)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.EstimatedNumberofHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.EstimatedNumberofHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.SPAType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.SPAType)
        </dd>
          <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.SPAnumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.SPAnumber)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.SPAotherDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.SPAotherDescription)
        </dd>
         <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.EstimatedNumberofFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.EstimatedNumberofFTE)
        </dd>
          <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.ContractDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.ContractDuration)
        </dd>
          <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.AnticipatedExpediture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.AnticipatedExpediture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.DetailJustification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.DetailJustification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.approvedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.approvedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.OtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.OtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.OtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.OtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.WaiverNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.WaiverNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.ProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.SubmittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.SubmittedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PersonnelContractorWaiver.AdditionalComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PersonnelContractorWaiver.AdditionalComments)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="PersonnelContractorWaiver.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
