@page
@model DPAWaiver.Pages.Private.PersonnelContractor.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].ScopeofWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].ContractorType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].EstimatedNumberOfHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].SPAnumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].SPAotherDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].EstimatedNumberofFTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].ContractDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].AnticipatedExpediture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].DetailJustification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].approvedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].OtherFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].OtherLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].WaiverNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].projectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].SubmittedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonnelContractorWaiver[0].CostEstimate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PersonnelContractorWaiver) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ScopeofWork)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractorType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedNumberOfHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SPAnumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SPAotherDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedNumberofFTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContractDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnticipatedExpediture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetailJustification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approvedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaiverNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostEstimate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalComments)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
