@page
@model DPAWaiver.Pages.Private.EquipmentMail.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Equipment Mail Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.justificationDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.justificationDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.SubmittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.SubmittedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.CostEstimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.CostEstimate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.equipmentDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.equipmentDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.NumberofEquipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.NumberofEquipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.newOrReplace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.newOrReplace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.servicesReceived)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.servicesReceived)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthlyLeaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthlyLeaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthlyVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthlyVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.firstYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.firstYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.secondYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.secondYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.thirdYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.thirdYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.fourthYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.fourthYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.fifthYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.fifthYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.Make)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.Make)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.selectionReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.selectionReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.usefulLife)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.usefulLife)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.purchaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.purchaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthlyLease)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthlyLease)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthsRental)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthsRental)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.acquisitionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.acquisitionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.solicitationSubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.solicitationSubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.statepriceSubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.statepriceSubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.totalLeaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.totalLeaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.EstimatedNumberofFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.EstimatedNumberofFTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.estimatedNumberofHoursPerFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.estimatedNumberofHoursPerFTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.weeklySalaryCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.weeklySalaryCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.totalSpaceRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.totalSpaceRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthlySupervisionAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthlySupervisionAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthlyUtilitiesAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthlyUtilitiesAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthlyIndirectCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthlyIndirectCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.miscellaneousCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.miscellaneousCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.overheadCostDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.overheadCostDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.overheadDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.overheadDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.AdditionalComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.AdditionalComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.OtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.OtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.OtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.OtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.WaiverNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.WaiverNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.projectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentMailWaiver.projectName)
        </dd>
       
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EquipmentMailWaiver.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
