@page
@model DPAWaiver.Pages.Private.EquipmentMail.DetailsModel

@{
ViewData["Title"] = "Details";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (Model.EquipmentMailWaiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.EquipmentMailWaiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.EquipmentMailWaiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>

    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group required">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.justificationDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.justificationDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.justificationDescription -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group required">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.SubmittedOn)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.SubmittedOn)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.SubmittedOn -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="form-group required">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.CostEstimate)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.CostEstimate)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.CostEstimate -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.totalLeaseAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.totalLeaseAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.totalLeaseAmount -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.EstimatedNumberofFTE)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.EstimatedNumberofFTE)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.EstimatedNumberofFTE -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.EstimatedNumberOfHoursPerFTE)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.EstimatedNumberOfHoursPerFTE)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.EstimatedNumberOfHoursPerFTE -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.weeklySalaryCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.weeklySalaryCost)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.weeklySalaryCost -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.totalSpaceRequired)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.totalSpaceRequired)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.totalSpaceRequired -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthlySupervisionAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthlySupervisionAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.monthlySupervisionAmount -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthlyManagementAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthlyManagementAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.monthlyManagementAmount -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthlyUtilitiesAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthlyUtilitiesAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.monthlyUtilitiesAmount -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthlyIndirectCosts)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthlyIndirectCosts)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.monthlyIndirectCosts -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.miscellaneousCosts)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.miscellaneousCosts)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.miscellaneousCosts -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.overheadCostDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.overheadCostDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.overheadCostDescription -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.alternativesDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.alternativesDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.alternativesDescription -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group required">
                    <dl class='custom-dl'>
                        <dt>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.equipmentDescription)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.equipmentDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.equipmentDescription -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group required">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.NumberofEquipment)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.NumberofEquipment)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.NumberofEquipment -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.servicesReceived)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.servicesReceived)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.servicesReceived -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthlyLeaseAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthlyLeaseAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.monthlyLeaseAmount -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthlyVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthlyVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.monthlyVolume -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group required">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.newOrReplace)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.newOrReplace)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.newOrReplace -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class='form-group required'>
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.Make)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.Make)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.Make -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group required">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.Model)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.Model)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.Model -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.selectionReason)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.selectionReason)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.selectionReason -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.usefulLife)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.usefulLife)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.usefulLife -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.purchaseAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.purchaseAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.purchaseAmount -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthlyLease)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthlyLease)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.monthlyLease -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.monthsRental)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.monthsRental)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.monthsRental -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.acquisitionType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.acquisitionType)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.acquisitionType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.solicitationSubType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.solicitationSubType)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.solicitationSubType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentMailWaiver.statepriceSubType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentMailWaiver.statepriceSubType)
                        </dd>
                    </dl><!-- dl end of EquipmentMailWaiver.statepriceSubType -->
                </div>
            </div>
        </div>
    </dl>


<partial name="_ViewInvoices" model="@Model.Invoices" />
<partial name="_ViewAttachments" model="@Model.Attachments" />
<partial name="_ViewActions" model="@Model.Actions" />
@await Html.PartialAsync("_PostUnderReview",@Model.EquipmentMailWaiver, new ViewDataDictionary(ViewData) {
{"garbage", "garbage"},
{ "IsUser", @Model.UserWithDepartment.IsUser()},
{ "IsReviewer", @Model.UserWithDepartment.IsReviewer()},
})




<partial name='_Logout' />
<div style="clear: both"></div>



</dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EquipmentMailWaiver.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>