@page
@model DPAWaiver.Pages.Private.EquipmentPrintPress.DeleteModel

@{
ViewData["Title"] = "Delete";
}
@{
ViewData["Title"] = "Delete";
}

@if (Model.EquipmentPrintPress.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.EquipmentPrintPress.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.EquipmentPrintPress" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintPress.newOrReplace)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintPress.newOrReplace)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintPress.newOrReplace -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintPress.currentMake)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintPress.currentMake)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintPress.currentMake -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintPress.currentModel)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintPress.currentModel)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintPress.currentModel -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintPress.acquisitionDate)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintPress.acquisitionDate)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintPress.acquisitionDate -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintPress.monthlyCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintPress.monthlyCost)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintPress.monthlyCost -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintPress.averageMonthlyVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintPress.averageMonthlyVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintPress.averageMonthlyVolume -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintPress.firstYearVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintPress.firstYearVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintPress.firstYearVolume -->
                </div>
            </div>
        </div>
    </dl>
</div>