@page
@model DPAWaiver.Pages.Private.ServiceMicrofilm.DeleteModel

@{
ViewData["Title"] = "Delete";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (Model.ServiceMicrofilmWaiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.ServiceMicrofilmWaiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.ServiceMicrofilmWaiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.MicrofilmDuplication)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.MicrofilmDuplication)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmWaiver.MicrofilmDuplication -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.RequestedRolls)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.RequestedRolls)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmWaiver.RequestedRolls -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.EstimatedNumberofFTE)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.EstimatedNumberofFTE)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmWaiver.EstimatedNumberofFTE -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.EstimatedNumberOfHours)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.EstimatedNumberOfHours)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmWaiver.EstimatedNumberOfHours -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.outputType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.outputType)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmWaiver.outputType -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.RollsLabeled)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.RollsLabeled)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmWaiver.RollsLabeled -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.duplicateRolls)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.duplicateRolls)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmWaiver.duplicateRolls -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.NumberofRolls)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.NumberofRolls)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmWaiver.NumberofRolls -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.JobRequirements)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.JobRequirements)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmWaiver.JobRequirements -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.AlternativeMethods)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.AlternativeMethods)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmWaiver.AlternativeMethods -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.NotInHouseReason)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.NotInHouseReason)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmWaiver.NotInHouseReason -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.AdditionalComments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.AdditionalComments)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmWaiver.AdditionalComments -->
                </div>
            </div>
        </div>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="ServiceMicrofilmWaiver.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./WaiverList">Back to List</a>
    </form>
</div>