@page
@model DPAWaiver.Pages.Private.ServiceMicrofilm.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Service Microfilm Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.ItemDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.ItemDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.SubmittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.SubmittedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.CostEstimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.CostEstimate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.MicrofilmDuplication)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.MicrofilmDuplication)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.RequestedRolls)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.RequestedRolls)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.EstimatedNumberofFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.EstimatedNumberofFTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.EstimatedNumberOfHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.EstimatedNumberOfHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.EstimatedNumberOfDocuments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.EstimatedNumberOfDocuments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.outputType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.outputType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.RollsLabeled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.RollsLabeled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.duplicateRolls)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.duplicateRolls)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.NumberofRolls)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.NumberofRolls)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.JobRequirements)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.JobRequirements)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.AlternativeMethods)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.AlternativeMethods)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.NotInHouseReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.NotInHouseReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.AdditionalComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.AdditionalComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.OtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.OtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.OtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.OtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.WaiverNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.WaiverNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmWaiver.projectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmWaiver.projectName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ServiceMicrofilmWaiver.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
