@page
@model DPAWaiver.Pages.Private.ServiceMail.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Service Mail Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMailWaiver.ItemDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMailWaiver.ItemDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMailWaiver.SubmittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMailWaiver.SubmittedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMailWaiver.CostEstimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMailWaiver.CostEstimate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMailWaiver.JobDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMailWaiver.JobDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMailWaiver.TypeofStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMailWaiver.TypeofStock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMailWaiver.NumberofPackets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMailWaiver.NumberofPackets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMailWaiver.OtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMailWaiver.OtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMailWaiver.OtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMailWaiver.OtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMailWaiver.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMailWaiver.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMailWaiver.WaiverNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMailWaiver.WaiverNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMailWaiver.projectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMailWaiver.projectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMailWaiver.MailingDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMailWaiver.MailingDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMailWaiver.MailRate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMailWaiver.MailRate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMailWaiver.MailPermit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMailWaiver.MailPermit)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ServiceMailWaiver.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
