@page
@model DPAWaiver.Pages.Private.ServiceMailWaiver.DetailsModel

@{
ViewData["Title"] = "Details";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (Model.ServiceMailWaiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.ServiceMailWaiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.ServiceMailWaiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMailWaiver.NumberofPackets)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMailWaiver.NumberofPackets)
                        </dd>
                    </dl><!-- dl end of ServiceMailWaiver.NumberofPackets -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMailWaiver.MailingDate)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMailWaiver.MailingDate)
                        </dd>
                    </dl><!-- dl end of ServiceMailWaiver.MailingDate -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMailWaiver.MailPermit)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMailWaiver.MailPermit)
                        </dd>
                    </dl><!-- dl end of ServiceMailWaiver.MailPermit -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMailWaiver.MailRate)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMailWaiver.MailRate)
                        </dd>
                    </dl><!-- dl end of ServiceMailWaiver.MailRate -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMailWaiver.TypeofStock)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMailWaiver.TypeofStock)
                        </dd>
                    </dl><!-- dl end of ServiceMailWaiver.TypeofStock -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMailWaiver.SubmittedOn)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMailWaiver.SubmittedOn)
                        </dd>
                    </dl><!-- dl end of ServiceMailWaiver.SubmittedOn -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMailWaiver.ItemDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMailWaiver.ItemDescription)
                        </dd>
                    </dl><!-- dl end of ServiceMailWaiver.ItemDescription -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMailWaiver.OtherDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMailWaiver.OtherDescription)
                        </dd>
                    </dl><!-- dl end of ServiceMailWaiver.OtherDescription -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMailWaiver.AdditionalComments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMailWaiver.AdditionalComments)
                        </dd>
                    </dl><!-- dl end of ServiceMailWaiver.AdditionalComments -->
                </div>
            </div>
        </div>
    </dl>
    <partial name="_ViewInvoices" model="@Model.Invoices" />
    <partial name="_ViewAttachments" model="@Model.Attachments" />
    <partial name="_ViewActions" model="@Model.Actions" />
    @await Html.PartialAsync("_PostUnderReview",@Model.ServiceMailWaiver, new ViewDataDictionary(ViewData)
    {
    {"garbage", "garbage"},
    { "IsUser", @Model.UserWithDepartment.IsUser()},
    { "IsReviewer", @Model.UserWithDepartment.IsReviewer()},
    })




    <partial name='_Logout' />
    <div style="clear: both"></div>


</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ServiceMailWaiver.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>