@page
@model DPAWaiver.Pages.Private.ServiceMail.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceMailWaiver[0].ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceMailWaiver[0].SubmittedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceMailWaiver[0].CostEstimate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceMailWaiver[0].JobDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceMailWaiver[0].TypeofStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceMailWaiver[0].NumberofPackets)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceMailWaiver[0].OtherFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceMailWaiver[0].OtherLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceMailWaiver[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceMailWaiver[0].WaiverNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceMailWaiver[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceMailWaiver[0].SubmittedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceMailWaiver[0].CostEstimate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ServiceMailWaiver) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostEstimate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeofStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberofPackets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaiverNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostEstimate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
