@page
@model DPAWaiver.Pages.Private.SoftwareScanning.DetailsModel

@{
ViewData["Title"] = "Details";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (Model.SoftwareScanningWaiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.SoftwareScanningWaiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.SoftwareScanningWaiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.typeOfSoftware)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.typeOfSoftware)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.typeOfSoftware -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.numberOfLicenses)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.numberOfLicenses)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.numberOfLicenses -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.newOrReplace)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.newOrReplace)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.newOrReplace -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.costOfPresentService)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.costOfPresentService)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.costOfPresentService -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.servicesReceived)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.servicesReceived)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.servicesReceived -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.softwareProvider)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.softwareProvider)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.softwareProvider -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.softwareVersion)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.softwareVersion)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.softwareVersion -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.selectionReason)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.selectionReason)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.selectionReason -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.expectedDuration)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.expectedDuration)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.expectedDuration -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.acquisitionType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.acquisitionType)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.acquisitionType -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.subscriptionOrPurchase)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.subscriptionOrPurchase)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.subscriptionOrPurchase -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.purchaseAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.purchaseAmount)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.purchaseAmount -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.monthlySubscriptionAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.monthlySubscriptionAmount)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.monthlySubscriptionAmount -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.numberOfMonths)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.numberOfMonths)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.numberOfMonths -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.annualMaintenanceCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.annualMaintenanceCost)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.annualMaintenanceCost -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.operatorClassification)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.operatorClassification)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.operatorClassification -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.Grade)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.Grade)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.Grade -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.numberOfFTE)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.numberOfFTE)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.numberOfFTE -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.hoursPerFTEPerWeek)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.hoursPerFTEPerWeek)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.hoursPerFTEPerWeek -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.totalWeeklySalary)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.totalWeeklySalary)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.totalWeeklySalary -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.monthlySupervisionAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.monthlySupervisionAmount)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.monthlySupervisionAmount -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.monthlyManagementAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.monthlyManagementAmount)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.monthlyManagementAmount -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.justificationDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.justificationDescription)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.justificationDescription -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.alternativesConsidered)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.alternativesConsidered)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.alternativesConsidered -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareScanningWaiver.AdditionalComments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareScanningWaiver.AdditionalComments)
                        </dd>
                    </dl><!-- dl end of SoftwareScanningWaiver.AdditionalComments -->
                </div>
            </div>
        </div>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SoftwareScanningWaiver.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>