@page
@model DPAWaiver.Pages.Private.SoftwareDataEntry.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Software Data Entry Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.typeOfSoftware)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.typeOfSoftware)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.numberOfLicenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.numberOfLicenses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.softwareVersion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.softwareVersion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.costOfPresentService)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.costOfPresentService)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.newOrReplace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.newOrReplace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.currentMonthlyVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.currentMonthlyVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.firstYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.firstYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.secondYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.secondYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.thirdYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.thirdYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.fourthYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.fourthYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.fifthYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.fifthYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.softwareProvider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.softwareProvider)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.softwareVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.softwareVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.solicitationSubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.solicitationSubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.statepriceSubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.statepriceSubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.purchaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.purchaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.selectionReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.selectionReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.solicitationSubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.solicitationSubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.statepriceSubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.statepriceSubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.purchaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.purchaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.annualMaintenanceCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.annualMaintenanceCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.suppliesCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.suppliesCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.operatorClassification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.operatorClassification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.Grade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.numberOfFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.numberOfFTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.numberOfLicenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.numberOfLicenses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.hoursPerFTEPerWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.hoursPerFTEPerWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.annualMaintenanceCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.annualMaintenanceCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.operatorClassification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.operatorClassification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.hoursPerFTEPerWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.hoursPerFTEPerWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.totalWeeklySalary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.totalWeeklySalary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.totalSpaceInSQFT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.totalSpaceInSQFT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.monthlySupervisionAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.monthlySupervisionAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.monthlySupervisionAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.monthlySupervisionAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.monthlyManagementAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.monthlyManagementAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.monthlyUtilitiesAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.monthlyUtilitiesAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.monthlyIndirectCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.monthlyIndirectCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.monthlyOverheadCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.monthlyOverheadCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.alternativesConsidered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.alternativesConsidered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.additionalComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.additionalComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.OtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.OtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.OtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.OtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.WaiverNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.WaiverNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.ProjectName)
        </dd>
       <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.SubmittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.SubmittedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.CostEstimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.CostEstimate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="SoftwareDataEntryWaiver.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
