@page
@model DPAWaiver.Pages.Private.SoftwareDataEntry.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (Model.SoftwareDataEntryWaiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.SoftwareDataEntryWaiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.SoftwareDataEntryWaiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.typeOfSoftware)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.typeOfSoftware)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.typeOfSoftware -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.numberOfLicenses)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.numberOfLicenses)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.numberOfLicenses -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.softwareVersion)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.softwareVersion)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.softwareVersion -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.costOfPresentService)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.costOfPresentService)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.costOfPresentService -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.currentMonthlyVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.currentMonthlyVolume)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.currentMonthlyVolume -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.firstYearVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.firstYearVolume)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.firstYearVolume -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.secondYearVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.secondYearVolume)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.secondYearVolume -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.thirdYearVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.thirdYearVolume)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.thirdYearVolume -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.fourthYearVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.fourthYearVolume)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.fourthYearVolume -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.fifthYearVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.fifthYearVolume)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.fifthYearVolume -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.softwareProvider)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.softwareProvider)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.softwareProvider -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.softwareVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.softwareVolume)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.softwareVolume -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.solicitationSubType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.solicitationSubType)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.solicitationSubType -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.statepriceSubType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.statepriceSubType)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.statepriceSubType -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.purchaseAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.purchaseAmount)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.purchaseAmount -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.annualMaintenanceCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.annualMaintenanceCost)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.annualMaintenanceCost -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.suppliesCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.suppliesCost)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.suppliesCost -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.operatorClassification)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.operatorClassification)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.operatorClassification -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.Grade)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.Grade)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.Grade -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.numberOfFTE)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.numberOfFTE)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.numberOfFTE -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.hoursPerFTEPerWeek)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.hoursPerFTEPerWeek)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.hoursPerFTEPerWeek -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.totalWeeklySalary)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.totalWeeklySalary)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.totalWeeklySalary -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.totalSpaceInSQFT)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.totalSpaceInSQFT)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.totalSpaceInSQFT -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.monthlySupervisionAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.monthlySupervisionAmount)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.monthlySupervisionAmount -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.monthlyManagementAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.monthlyManagementAmount)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.monthlyManagementAmount -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.monthlyUtilitiesAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.monthlyUtilitiesAmount)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.monthlyUtilitiesAmount -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.monthlyIndirectCosts)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.monthlyIndirectCosts)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.monthlyIndirectCosts -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.monthlyOverheadCosts)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.monthlyOverheadCosts)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.monthlyOverheadCosts -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.alternativesConsidered)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.alternativesConsidered)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.alternativesConsidered -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.SoftwareDataEntryWaiver.AdditionalComments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.SoftwareDataEntryWaiver.AdditionalComments)
                        </dd>
                    </dl><!-- dl end of SoftwareDataEntryWaiver.AdditionalComments -->
                </div>
            </div>
        </div>
    </dl>
</div>
<partial name="_ViewInvoices" model="@Model.Invoices" />
<partial name="_ViewAttachments" model="@Model.Attachments" />
<partial name="_ViewActions" model="@Model.Actions" />
@await Html.PartialAsync("_PostUnderReview",@Model.SoftwareDataEntryWaiver, new ViewDataDictionary(ViewData) {
    {"garbage", "garbage"},
    { "IsUser", @Model.UserWithDepartment.IsUser()},
    { "IsReviewer", @Model.UserWithDepartment.IsReviewer()},
})




<partial name='_Logout' />
<div style="clear: both"></div>