@model List<DPAWaiver.Models.Waivers.BaseWaiverAction>


    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Audit List</h3>
        </div>
        <div class="panel-body" style="padding: 20px">
            @if (Model.Count() != 0) {
            <table class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model[0].CreatedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].CreatedBy)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].ActionTaken)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model[0].ActionData)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                    <tr>
                        <td style="vertical-align: middle">
                            @String.Format("{0:MM/dd/yyyy hh:mm:ss tt}", item.CreatedOn)
                        </td>
                        <td style="vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.CreatedBy.FullName)
                        </td>
                        <td style="vertical-align: middle">
                            @Html.DisplayFor(modelItem => item.ActionTaken)
                        </td>
                        <td style="vertical-align: middle">
                            <button class="btn btn-default audit-button" type="button" aria-expanded="false"
                                aria-controls="collapseExample">
                                View Audit Data
                            </button>
                        </td>
                    </tr>
                    <tr style="display: none">
                        <td colspan="4">
                            <pre style="white-space: pre-wrap;">@Html.DisplayFor(modelItem => item.ActionData)</pre>
                        </td>
                    </tr>
                    if (item.Notes != null && item.Notes.Length > 0) {
                        <tr style="background-color: white">
                            <td></td>
                            <td colspan="3">
                                <b>Notes:&nbsp;</b>@Html.DisplayFor(modelItem => item.Notes)
                            </td>
                        </tr>
                    }
                    }
                </tbody>
            </table>
            } else {
            <span>There is no audit trail.</span>
            }
        </div>
    </div>

    <script type="text/javascript">
       
        defer(function () {
            $(".audit-button").on('click', function () {
                $(this).closest('tr').next('tr').toggle();
                console.log($(this).closest('tr').next('tr').text());
                var jsonStr = $(this).closest('tr').next('tr').find("td > pre").text();
                var jsonObj = JSON.parse(jsonStr);
                var jsonPretty = JSON.stringify(jsonObj, null, '\t');
                $(this).closest('tr').next('tr').find("td > pre").text(jsonPretty);
            })
        });
    </script>