@page
@model DPAWaiver.Pages.Private.EquipmentPrintA4.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Equipment Print A4 Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.printerType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.printerType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.SubmittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.SubmittedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.CostEstimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.CostEstimate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.numberofEquipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.numberofEquipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.Make)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.Make)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.newOrReplace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.newOrReplace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.servicesReceived)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.servicesReceived)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.currentMonthlyVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.currentMonthlyVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.anticipatedMonthlyVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.anticipatedMonthlyVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.selectionReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.selectionReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.acquisitionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.acquisitionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.solicitationSubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.solicitationSubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.statepriceSubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.statepriceSubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.monthlyLeaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.monthlyLeaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.monthlyLeaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.monthlyLeaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.yearlyMaintenanceAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.yearlyMaintenanceAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.monthsOfLease)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.monthsOfLease)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.purchaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.purchaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.tonerCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.tonerCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.usefulLife)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.usefulLife)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.complianceDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.complianceDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.alternativesDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.alternativesDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.justificationDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.justificationDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.additionalComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.additionalComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.OtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.OtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.OtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.OtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.WaiverNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.WaiverNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.ProjectName)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EquipmentPrintA4Waiver.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
