@page
@model DPAWaiver.Pages.Private.EquipmentPrintA4.DetailsModel

@{
ViewData["Title"] = "Details";
}
@if (Model.EquipmentPrintA4Waiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.EquipmentPrintA4Waiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.EquipmentPrintA4Waiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>


    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.printerType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.printerType)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.printerType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.NumberofEquipment)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.NumberofEquipment)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.NumberofEquipment -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.Make)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.Make)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.Make -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.Model)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.Model)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.Model -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.newOrReplace)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.newOrReplace)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.newOrReplace -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.servicesReceived)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.servicesReceived)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.servicesReceived -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.currentMonthlyVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.currentMonthlyVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.currentMonthlyVolume -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.anticipatedMonthlyVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.anticipatedMonthlyVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.anticipatedMonthlyVolume -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.selectionReason)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.selectionReason)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.selectionReason -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.acquisitionType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.acquisitionType)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.acquisitionType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.solicitationSubType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.solicitationSubType)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.solicitationSubType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.statepriceSubType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.statepriceSubType)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.statepriceSubType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.monthlyLeaseAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.monthlyLeaseAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.monthlyLeaseAmount -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.yearlyMaintenanceAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.yearlyMaintenanceAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.yearlyMaintenanceAmount -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.monthsOfLease)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.monthsOfLease)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.monthsOfLease -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.purchaseAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.purchaseAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.purchaseAmount -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.tonerCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.tonerCost)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.tonerCost -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.usefulLife)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.usefulLife)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.usefulLife -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.complianceDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.complianceDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.complianceDescription -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.alternativesDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.alternativesDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.alternativesDescription -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.justificationDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.justificationDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.justificationDescription -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA4Waiver.AdditionalComments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA4Waiver.AdditionalComments)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA4Waiver.AdditionalComments -->
                </div>
            </div>
        </div>
    </dl>
</div>
<partial name="_ViewInvoices" model="@Model.Invoices" />
<partial name="_ViewAttachments" model="@Model.Attachments" />
<partial name="_ViewActions" model="@Model.Actions" />
@await Html.PartialAsync("_PostUnderReview",@Model.EquipmentPrintA4Waiver, new ViewDataDictionary(ViewData) {
{"garbage", "garbage"},
{ "IsUser", @Model.UserWithDepartment.IsUser()},
{ "IsReviewer", @Model.UserWithDepartment.IsReviewer()},
})




<partial name='_Logout' />
<div style="clear: both"></div>