@page
@model DPAWaiver.Pages.Private.ServiceMicrofilmConversion.DeleteModel

@{
ViewData["Title"] = "Delete";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (Model.ServiceMicrofilmConversionWaiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.ServiceMicrofilmConversionWaiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.ServiceMicrofilmConversionWaiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.typeofFilm)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.typeofFilm)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.typeofFilm -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.NumberofRolls)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.NumberofRolls)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.NumberofRolls -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.numberOfCards)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.numberOfCards)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.numberOfCards -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.EstimatedNumberOfHours)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.EstimatedNumberOfHours)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.EstimatedNumberOfHours -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.EstimatedNumberofFTE)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.EstimatedNumberofFTE)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.EstimatedNumberofFTE -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.indexingNeeded)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.indexingNeeded)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.indexingNeeded -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.textSearchablePDF)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.textSearchablePDF)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.textSearchablePDF -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model =>
                            model.ServiceMicrofilmConversionWaiver.EstimatedNumberOfFields)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.EstimatedNumberOfFields)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.EstimatedNumberOfFields -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.imageDelivery)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.imageDelivery)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.imageDelivery -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.otherImageDelivery)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.otherImageDelivery)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.otherImageDelivery -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model =>
                            model.ServiceMicrofilmConversionWaiver.emailOtherImageDelivery)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.emailOtherImageDelivery)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.emailOtherImageDelivery -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.systemRequirements)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.systemRequirements)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.systemRequirements -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.keyedIntoSystem)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.keyedIntoSystem)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.keyedIntoSystem -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model =>
                            model.ServiceMicrofilmConversionWaiver.ReasonForNotKeyedIntoSystem)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model =>
                            model.ServiceMicrofilmConversionWaiver.ReasonForNotKeyedIntoSystem)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.ReasonForNotKeyedIntoSystem -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.doneInHouse)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.doneInHouse)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.doneInHouse -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.NotInHouseReason)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.NotInHouseReason)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.NotInHouseReason -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.AdditionalComments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.AdditionalComments)
                        </dd>
                    </dl><!-- dl end of ServiceMicrofilmConversionWaiver.AdditionalComments -->
                </div>
            </div>
        </div>
    </dl>
   <div class="row add-gutter marginTop20px pull-right">

        <a class="btn btn-default" onclick="print();">Print&nbsp;
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        </a>
        <a class="btn btn-default btn-space-2x" asp-page="/Private/WaiverList">Waiver List&nbsp;
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        </a>
        <form method="post" style="display: inline;">
            <input type="hidden" asp-for="ServiceMicrofilmConversionWaiver.ID" />
            <button type="submit" value="Delete" class="btn btn-primary">
                Delete Waiver&nbsp;<span class="glyphicon glyphicon-trash"></span>
            </button>
        </form>

    </div>
</div>