@page
@model DPAWaiver.Pages.Private.ServiceMicrofilmConversion.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Service Microfilm Conversion Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.workflowDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.workflowDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.SubmittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.SubmittedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.CostEstimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.CostEstimate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.typeofFilm)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.typeofFilm)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.NumberofRolls)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.NumberofRolls)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.numberofCards)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.numberofCards)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.EstimatedNumberofHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.EstimatedNumberofHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.EstimatedNumberofFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.EstimatedNumberofFTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.indexingNeeded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.indexingNeeded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.textSearchablePDF)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.textSearchablePDF)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.estimatedNumberOfFields)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.estimatedNumberOfFields)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.imageDelivery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.imageDelivery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.otherImageDelivery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.otherImageDelivery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.emailOtherImageDelivery)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.emailOtherImageDelivery)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.systemRequirements)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.systemRequirements)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.keyedIntoSystem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.keyedIntoSystem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.reasonForNotKeyedIntoSystem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.reasonForNotKeyedIntoSystem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.doneInHouse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.doneInHouse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.notInHouseReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.notInHouseReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.AdditionalComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.AdditionalComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.OtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.OtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.OtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.OtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.WaiverNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.WaiverNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ServiceMicrofilmConversionWaiver.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServiceMicrofilmConversionWaiver.ProjectName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ServiceMicrofilmConversionWaiver.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
