@page
@model DPAWaiver.Pages.Private.EquipmentPrintA3.DeleteModel

@{
ViewData["Title"] = "Delete";
}
@if (Model.EquipmentPrintA3Waiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.EquipmentPrintA3Waiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.EquipmentPrintA3Waiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>


    <dl class="dl-horizontal">
        <div class="panel body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.printerType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.printerType)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.printerType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.newOrReplace)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.newOrReplace)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.newOrReplace -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.Make)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.Make)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.Make -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.Model)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.Model)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.Model -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.selectionReason)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.selectionReason)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.selectionReason -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.acquisitionType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.acquisitionType)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.acquisitionType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.solicitationSubType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.solicitationSubType)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.solicitationSubType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.statepriceSubType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.statepriceSubType)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.statepriceSubType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.numberOfMonths)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.numberOfMonths)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.numberOfMonths -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.monthlyLeaseAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.monthlyLeaseAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.monthlyLeaseAmount -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.servicesReceived)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.servicesReceived)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.servicesReceived -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.leaseDuration)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.leaseDuration)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.leaseDuration -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.purchaseAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.purchaseAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.purchaseAmount -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.blackCostPerPage)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.blackCostPerPage)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.blackCostPerPage -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.colorCostPerPage)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.colorCostPerPage)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.colorCostPerPage -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.leaseAccessories)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.leaseAccessories)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.leaseAccessories -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.complianceDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.complianceDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.complianceDescription -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.alternativesDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.alternativesDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.alternativesDescription -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.justificationDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.justificationDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.justificationDescription -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintA3Waiver.AdditionalComments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintA3Waiver.AdditionalComments)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintA3Waiver.AdditionalComments -->
                </div>
            </div>
        </div>
    </dl>

    <div class="row add-gutter marginTop20px pull-right">

        <a class="btn btn-default" onclick="print();">Print&nbsp;
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        </a>
        <a class="btn btn-default btn-space-2x" asp-page="/Private/WaiverList">Waiver List&nbsp;
            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
        </a>
        <form method="post" style="display: inline;">
            <input type="hidden" asp-for="EquipmentPrintA3Waiver.ID" />
            <button type="submit" value="Delete" class="btn btn-primary">
                Delete Waiver&nbsp;<span class="glyphicon glyphicon-trash"></span>
            </button>
        </form>

    </div>
</div>