@page
@model DPAWaiver.Pages.Private.Invoice.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BaseWaiverInvoice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="overflow: visible; white-space: initial;">
            @Html.DisplayNameFor(model => model.BaseWaiverInvoice.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseWaiverInvoice.CreatedOn)
        </dd>
        <dt style="overflow: visible; white-space: initial;">
            @Html.DisplayNameFor(model => model.BaseWaiverInvoice.VendorName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseWaiverInvoice.VendorName)
        </dd>
        <dt style="overflow: visible; white-space: initial;">
            @Html.DisplayNameFor(model => model.BaseWaiverInvoice.InvoiceNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseWaiverInvoice.InvoiceNumber)
        </dd>
        <dt style="overflow: visible; white-space: initial;">
            @Html.DisplayNameFor(model => model.BaseWaiverInvoice.InvoiceDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseWaiverInvoice.InvoiceDate)
        </dd>
        <dt style="overflow: visible; white-space: initial;">
            @Html.DisplayNameFor(model => model.BaseWaiverInvoice.InvoiceAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseWaiverInvoice.InvoiceAmount)
        </dd>
        <dt style="overflow: visible; white-space: initial;">
            @Html.DisplayNameFor(model => model.BaseWaiverInvoice.ReasonForDifference)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseWaiverInvoice.ReasonForDifference)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BaseWaiverInvoice.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Private/WaiverList">Back to List</a>
    </form>
</div>
