@page
@model DPAWaiver.Pages.Private.Invoice.InvoiceModel


@{
ViewData["Title"] = "Add Invoices";
}




<partial name="_WaiverInformationDisplayOnly" model='@Model.BaseWaiver' />

<partial name="_StatusMessage" model='@TempData["StatusMessage"]' />

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Invoices List</h3>
    </div>
    <div class="panel-body" style="padding: 20px">
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.BaseWaiver.Invoices[0].VendorName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BaseWaiver.Invoices[0].InvoiceNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BaseWaiver.Invoices[0].InvoiceDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BaseWaiver.Invoices[0].InvoiceAmount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.BaseWaiver.Invoices) {
                <tr>
                    <td class="vertical-align-middle">
                        <span title="@Html.DisplayFor(modelItem => item.VendorName)">@String.Format("{0:MM/dd/yyyy}",
                            item.VendorName)</span>
                    </td>
                    <td class="vertical-align-middle">
                        <span title="@Html.DisplayFor(modelItem => item.InvoiceNumber)">@Html.DisplayFor(modelItem
                            => item.InvoiceNumber)</span>
                    </td>
                    <td class="vertical-align-middle">
                        <span title="@Html.DisplayFor(modelItem => item.InvoiceDate)">@String.Format("{0:MM/dd/yyyy}",
                            item.InvoiceDate)</span>
                    </td>
                    <td class="vertical-align-middle">
                        <span title="@Html.DisplayFor(modelItem => item.InvoiceAmount)">@String.Format("{0:C}",
                            item.InvoiceAmount)</span>
                    </td>
                    <td>
                        <span style="float: right">
                            <a asp-page="./Invoice" asp-page-handler="AsyncInvoiceDelete" asp-route-id="@item.ID"
                                asp-route-waiverId="@Model.BaseWaiver.ID" class="btn btn-default">Delete
                                <span class='glyphicon glyphicon-trash' title='Delete Attachment'></span></a>
                        </span>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>


<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="form-group">
            <label asp-for="BaseWaiverInvoice.VendorName" class="control-label"></label>
            <input asp-for="BaseWaiverInvoice.VendorName" class="form-control" />
            <span asp-validation-for="BaseWaiverInvoice.VendorName" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="form-group">
            <label asp-for="BaseWaiverInvoice.InvoiceNumber" class="control-label"></label>
            <input asp-for="BaseWaiverInvoice.InvoiceNumber" class="form-control" />
            <span asp-validation-for="BaseWaiverInvoice.InvoiceNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="form-group">
            <label asp-for="BaseWaiverInvoice.InvoiceDate" class="control-label"></label>
            <input asp-for="BaseWaiverInvoice.InvoiceDate" class="form-control" />
            <span asp-validation-for="BaseWaiverInvoice.InvoiceDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="form-group">
            <label asp-for="BaseWaiverInvoice.InvoiceAmount" class="control-label"></label>
            <input asp-for="BaseWaiverInvoice.InvoiceAmount" class="form-control" />
            <span asp-validation-for="BaseWaiverInvoice.InvoiceAmount" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-9 col-md-4 col-sm-12" id="ReasonForDifferenceDiv">
        <div class="form-group">
            <label asp-for="BaseWaiverInvoice.ReasonForDifference" class="control-label"></label>
            <input asp-for="BaseWaiverInvoice.ReasonForDifference" class="form-control" />
            <span asp-validation-for="BaseWaiverInvoice.ReasonForDifference" class="text-danger"></span>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="form-group">
            <label for='createInvoice' style="display: block">&nbsp;</label>
            <button type="submit" class="btn btn-primary" id="createInvoice">
                Add Invoice&nbsp;<span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
    <div class="row add-gutter marginTop40px">
        <partial name='_Logout' />
        <a class="btn btn-default pull-right" asp-page="/Private/WaiverList">Done With Waiver&nbsp;
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span></a>
        <a id='uploadAttachmentButton' class="btn btn-default btn-space-2x pull-right"
            asp-page="/Private/Attachment/Attachment" asp-route-id="@Model.BaseWaiver.ID"
            title="Upload Supporting Documents">Upload Supporting Documents&nbsp;
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        </a>
    </div>
</form>
@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        var InvAmount = $('#BaseWaiverInvoice_InvoiceAmount').value()
        var CostEstimate = $('BaseWaiver_CostEstimate').value()

        if (InvAmount > CostEstimate) {
            $("#ReasonForDifferenceDiv").show();
        } else {
            $("#ReasonForDifferenceDiv").hide();
        }
    });
</script>
}