@page
@model DPAWaiver.Pages.Private.EquipmentPrint.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@if (Model.EquipmentPrintWaiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.EquipmentPrintWaiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.EquipmentPrintWaiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>

    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.printerType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.printerType)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.printerType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.catalogLink)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.catalogLink)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.catalogLink -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.Make)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.Make)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.Make -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.Model)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.Model)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.Model -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.forGroupOfIndividuals)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.forGroupOfIndividuals)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.forGroupOfIndividuals -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.selectionReason)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.selectionReason)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.selectionReason -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.acquisitionType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.acquisitionType)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.acquisitionType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.solicitationSubType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.solicitationSubType)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.solicitationSubType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.statepriceSubType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.statepriceSubType)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.statepriceSubType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.numberOfMonths)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.numberOfMonths)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.numberOfMonths -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.monthlyLeaseAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.monthlyLeaseAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.monthlyLeaseAmount -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.servicesReceived)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.servicesReceived)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.servicesReceived -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.NumberofEquipment)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.NumberofEquipment)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.NumberofEquipment -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.purchaseAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.purchaseAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.purchaseAmount -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.agreementOrWarrantyCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.agreementOrWarrantyCost)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.agreementOrWarrantyCost -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.printerReplacementCycle)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.printerReplacementCycle)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.printerReplacementCycle -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.otherReplacementCycle)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.otherReplacementCycle)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.otherReplacementCycle -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.monthlyCostWithoutToner)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.monthlyCostWithoutToner)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.monthlyCostWithoutToner -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.monthlyMonochromeVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.monthlyMonochromeVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.monthlyMonochromeVolume -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.monthlyColorVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.monthlyColorVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.monthlyColorVolume -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.blackTonerCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.blackTonerCost)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.blackTonerCost -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.pageYieldForBlackToner)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.pageYieldForBlackToner)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.pageYieldForBlackToner -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.blackInkCostPerPage)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.blackInkCostPerPage)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.blackInkCostPerPage -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.cyanTonerCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.cyanTonerCost)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.cyanTonerCost -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.pageYieldForCyanToner)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.pageYieldForCyanToner)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.pageYieldForCyanToner -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.cyanInkCostPerPage)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.cyanInkCostPerPage)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.cyanInkCostPerPage -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.MagentaTonerCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.MagentaTonerCost)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.MagentaTonerCost -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.pageYieldForMagentaToner)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.pageYieldForMagentaToner)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.pageYieldForMagentaToner -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.MagentaInkCostPerPage)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.MagentaInkCostPerPage)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.MagentaInkCostPerPage -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.YellowTonerCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.YellowTonerCost)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.YellowTonerCost -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.pageYieldForYellowToner)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.pageYieldForYellowToner)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.pageYieldForYellowToner -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.YellowInkCostPerPage)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.YellowInkCostPerPage)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.YellowInkCostPerPage -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.totalInkCostPerPage)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.totalInkCostPerPage)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.totalInkCostPerPage -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.complianceDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.complianceDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.complianceDescription -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.alternativesDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.alternativesDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.alternativesDescription -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintWaiver.AdditionalComments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintWaiver.AdditionalComments)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintWaiver.AdditionalComments -->
                </div>
            </div>
        </div>
    </dl>
</div>
<partial name="_ViewInvoices" model="@Model.Invoices" />
<partial name="_ViewAttachments" model="@Model.Attachments" />
<partial name="_ViewActions" model="@Model.Actions" />
@await Html.PartialAsync("_PostUnderReview",@Model.EquipmentPrintWaiver, new ViewDataDictionary(ViewData) {
{"garbage", "garbage"},
{ "IsUser", @Model.UserWithDepartment.IsUser()},
{ "IsReviewer", @Model.UserWithDepartment.IsReviewer()},
})




<partial name='_Logout' />
<div style="clear: both"></div>



</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.EquipmentPrintWaiver.ID">Edit</a> |
    <a asp-page="./Private/WaiverList">Back to List</a>
</div>
