@page
@model DPAWaiver.Pages.Private.DataEntry.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DataEntryWaiver</h4>
    <hr />
    <dl class="dl" style="columns: 2">
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.WorkflowDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.WorkflowDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.EstimatedNumberofFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.EstimatedNumberofFTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.EstimatedNumberofHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.EstimatedNumberofHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.EstimatedNumberofDocuments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.EstimatedNumberofDocuments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.EstimatedNumberOfFields)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.EstimatedNumberOfFields)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.SystemRequirementsDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.SystemRequirementsDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.keyedIntoSystem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.keyedIntoSystem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.ReasonForNotKeyedIntoSystem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.ReasonForNotKeyedIntoSystem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.ReasonDataEntryCenter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.ReasonDataEntryCenter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.AdditionalComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.AdditionalComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.approvedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.approvedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.OtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.OtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.OtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.OtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.WaiverNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.WaiverNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.projectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.projectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.SubmittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.SubmittedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataEntryWaiver.CostEstimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEntryWaiver.CostEstimate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.DataEntryWaiver.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
