@page
@model DPAWaiver.Pages.Private.DataEntry.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (Model.DataEntryWaiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.DataEntryWaiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.DataEntryWaiver" />

<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <div class="panel-body">
        <div class="form-group required">
            <dl class='custom-dl'>
                <dt class='custom-dt'>@Html.DisplayNameFor(model => model.DataEntryWaiver.WorkflowDescription)</dt>
                <dd class='custom-dd'>@Html.DisplayNameFor(model => model.DataEntryWaiver.WorkflowDescription)</dd>
            </dl><!-- dl end of DataEntryWaiver.WorkflowDescription -->
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group required">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>@Html.DisplayNameFor(model => model.DataEntryWaiver.EstimatedNumberofFTE)</dt>
                        <dd class='custom-dd'>@Html.DisplayFor(model => model.DataEntryWaiver.EstimatedNumberofFTE)</dd>
                    </dl><!-- dl end of DataEntryWaiver.EstimatedNumberofFTE -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group required">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>@Html.DisplayNameFor(model=>model.DataEntryWaiver.EstimatedNumberOfHours)
                            <i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Enter the estimated number of full time employees needed to complete this project. 
This is a numeric field. Decimal can be used (i.e. 1.5 which would be equal to 1 1/2 employees)"></i>
                        </dt>
                        <dd class='custom-dd'>@Html.DisplayFor(model => model.DataEntryWaiver.EstimatedNumberOfHours)</dd>
                    </dl><!-- dl end of DataEntryWaiver.EstimatedNumberOfHours -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group required">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>@Html.DisplayNameFor(model =>
                            model.DataEntryWaiver.EstimatedNumberOfDocuments)</dt>
                        <dd class='custom-dd'>@Html.DisplayFor(model =>
                            model.DataEntryWaiver.EstimatedNumberOfDocuments)</dd>
                    </dl><!-- dl end of DataEntryWaiver.EstimatedNumberOfDocuments -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group required">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>@Html.DisplayNameFor(model =>
                            model.DataEntryWaiver.EstimatedNumberOfFields)</dt>
                        <dd class='custom-dd'>@Html.DisplayFor(model => model.DataEntryWaiver.EstimatedNumberOfFields)</dd>
                    </dl><!-- dl end of DataEntryWaiver.EstimatedNumberOfFields -->
                </div>
            </div>
        </div>

        <div class="form-group required">
            <dl class='custom-dl'>
                <dt class='custom-dt'>@Html.DisplayNameFor(model =>
                    model.DataEntryWaiver.SystemRequirementsDescription)</dt>
                <dd class='custom-dd'>@Html.DisplayFor(model => model.DataEntryWaiver.SystemRequirementsDescription)</dd>
            </dl><!-- dl end of DataEntryWaiver.SystemRequirementsDescription -->
        </div>


        <div class="form-group required">
            <dl class='custom-dl'>
                <dt class='custom-dt'>@Html.DisplayNameFor(model => model.DataEntryWaiver.keyedIntoSystem)</dt>
                <dd class='custom-dd'>@Model.DataEntryWaiver.keyedIntoSystem.ToYesNoString()</dd>
            </dl><!-- dl end of DataEntryWaiver.keyedIntoSystem -->
        </div>

        <div class='form-group required' id='reasonForNotKeyedIntoSystemDiv'>
            <dl class='custom-dl'>
                <dt class='custom-dt'>@Html.DisplayNameFor(model => model.DataEntryWaiver.ReasonForNotKeyedIntoSystem)</dt>
                <dd class='custom-dd'>@Html.DisplayFor(model => model.DataEntryWaiver.ReasonForNotKeyedIntoSystem)</dd>
            </dl><!-- dl end of DataEntryWaiver.ReasonForNotKeyedIntoSystem -->
            <select disabled class="form-control control-label" asp-for="DataEntryWaiver.keyedIntoSystem" style="display:none">
                <option value=''>Please select one</option>
                <option value='False'>No</option>
                <option value='True'>Yes</option>
            </select>
        </div>

        <div class="form-group required">
            <dl class='custom-dl'>
                <dt class='custom-dt'>@Html.DisplayNameFor(model => model.DataEntryWaiver.ReasonDataEntryCenter)</dt>
                <dd class='custom-dd'>@Html.DisplayFor(model => model.DataEntryWaiver.ReasonDataEntryCenter)</dd>
            </dl><!-- dl end of DataEntryWaiver.ReasonDataEntryCenter -->
        </div>

        <div class="form-group">
            <dl class='custom-dl'>
                <dt class='custom-dt'>@Html.DisplayNameFor(model => model.DataEntryWaiver.AdditionalComments)</dt>
                <dd class='custom-dd'>@Html.DisplayFor(model => model.DataEntryWaiver.AdditionalComments)</dd>
            </dl><!-- dl end of DataEntryWaiver.AdditionalComments -->
        </div>
    </div>
</div>
    
<div class="row add-gutter marginTop20px pull-right">

    <a class="btn btn-default" onclick="print();">Print&nbsp;
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>
    <a class="btn btn-default btn-space-2x" asp-page="/Private/WaiverList">Waiver List&nbsp;
        <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>
    <form method="post" style="display: inline;">
        <input type="hidden" asp-for="DataEntryWaiver.ID" />
        <button type="submit" value="Delete" class="btn btn-primary" >
            Delete Waiver&nbsp;<span class="glyphicon glyphicon-trash"></span>
        </button>
    </form>

</div>    


@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script type="text/javascript">
    $(document).ready(function () {
        showIfSelected('#DataEntryWaiver_KeyedIntoSystem', ['#reasonForNotKeyedIntoSystemDiv'], {
            valueList: ['False']
        });
    });
</script>
}