@page
@model DPAWaiver.Pages.Private.DataEntry.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<partial name="_StatusMessage" model='@TempData["StatusMessage"]'/>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].WorkflowDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].EstimatedNumberofFTE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].EstimatedNumberOfHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].estimatedNumberOfDocuments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].EstimatedNumberOfFields)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].SystemRequirementsDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].keyedIntoSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].ReasonForNotKeyedIntoSystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].ReasonDataEntryCenter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].AdditionalComments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].approvedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].OtherFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].OtherLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].WaiverNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].projectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].SubmittedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEntryWaiver[0].CostEstimate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DataEntryWaiver) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkflowDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedNumberofFTE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedNumberOfHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estimatedNumberOfDocuments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedNumberOfFields)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SystemRequirementsDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.keyedIntoSystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonForNotKeyedIntoSystem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonDataEntryCenter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalComments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approvedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaiverNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.projectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmittedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostEstimate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
