@page
@model DPAWaiver.Pages.Private.ServiceScanning.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

@if (Model.ServiceScanningWaiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.ServiceScanningWaiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.ServiceScanningWaiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>
    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.estimatedNumberOfDocuments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.estimatedNumberOfDocuments)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.estimatedNumberOfDocuments -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.EstimatedNumberOfHours)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.EstimatedNumberOfHours)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.EstimatedNumberOfHours -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.indexingNeeded)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.indexingNeeded)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.indexingNeeded -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.EstimatedNumberOfFields)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.EstimatedNumberOfFields)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.EstimatedNumberOfFields -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.textSearchablePDF)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.textSearchablePDF)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.textSearchablePDF -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.imageDPI)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.imageDPI)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.imageDPI -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.colorFormat)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.colorFormat)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.colorFormat -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.imageDelivery)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.imageDelivery)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.imageDelivery -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.otherImageDelivery)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.otherImageDelivery)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.otherImageDelivery -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.emailOtherImageDelivery)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.emailOtherImageDelivery)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.emailOtherImageDelivery -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.systemRequirements)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.systemRequirements)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.systemRequirements -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.AlternativeMethods)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.AlternativeMethods)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.AlternativeMethods -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.scanningInternally)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.scanningInternally)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.scanningInternally -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.importConversion)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.importConversion)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.importConversion -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.NotInHouseReason)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.NotInHouseReason)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.NotInHouseReason -->
                </div>
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt class='custom-dt'>
                            @Html.DisplayNameFor(model => model.ServiceScanningWaiver.AdditionalComments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.ServiceScanningWaiver.AdditionalComments)
                        </dd>
                    </dl><!-- dl end of ServiceScanningWaiver.AdditionalComments -->
                </div>
            </div>
        </div>
    </dl>
    <form method="post">
        <input type="hidden" asp-for="ServiceScanningWaiver.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Private/WaiverList">Back to List</a>
    </form>
</div>
