@page
@model DPAWaiver.Pages.Private.SoftwarePrint.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Software Print Copy Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.typeOfSoftware)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.typeOfSoftware)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.numberOfLicenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.numberOfLicenses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.softwareVersion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.softwareVersion)
        </dd>/
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.costOfPresentService)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.costOfPresentService)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.newOrReplace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.newOrReplace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.softwareProvider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.softwareProvider)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.purchaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.purchaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.selectionReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.selectionReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.expectedDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.expectedDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.acquisitionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.acquisitionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.subscriptionOrPurchase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.subscriptionOrPurchase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.monthlySubscriptionAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.monthlySubscriptionAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.numberOfMonths)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.numberOfMonths)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.annualMaintenanceCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.annualMaintenanceCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.operatorClassification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.operatorClassification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.Grade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.Grade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.numberOfFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.numberOfFTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.numberOfLicenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.numberOfLicenses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.hoursPerFTEPerWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.hoursPerFTEPerWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.annualMaintenanceCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.annualMaintenanceCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.totalWeeklySalary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.totalWeeklySalary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.monthlySupervisionAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.monthlySupervisionAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.monthlyManagementAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.monthlyManagementAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.justificationDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.justificationDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.alternativesConsidered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.alternativesConsidered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.additionalComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.additionalComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.OtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.OtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.OtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.OtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.WaiverNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.WaiverNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.projectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.projectName)
        </dd>
       <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.SubmittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.SubmittedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoftwarePrintWaiver.CostEstimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoftwarePrintWaiver.CostEstimate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SoftwarePrintWaiver.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
