@page
@model DPAWaiver.Pages.Private.EquipmentPrintLabel.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Equipment Print A4 Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.printerType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.printerType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.SubmittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.SubmittedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.CostEstimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.CostEstimate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.NumberofEquipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.NumberofEquipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.Make)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.Make)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.vendorChoice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.vendorChoice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.servicesReceived)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.servicesReceived)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.agreementOrWarrantyCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.agreementOrWarrantyCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.printerReplacementCycle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.printerReplacementCycle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.selectionReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.selectionReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.otherReplacementCycle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.otherReplacementCycle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.monthlyCostWithoutToner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.monthlyCostWithoutToner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.monthlyMonochromeVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.monthlyMonochromeVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.monthlyColorVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.monthlyColorVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.monthlyColorVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.monthlyColorVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.cyanTonerCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.cyanTonerCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.blackTonerCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.blackTonerCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.purchaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.purchaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.MagentaTonerCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.MagentaTonerCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.YellowTonerCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.YellowTonerCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.alternativesDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.alternativesDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.justificationDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.justificationDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.AdditionalComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.AdditionalComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.OtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.OtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.OtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.OtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.WaiverNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.WaiverNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.projectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.projectName)
        </dd>
       
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EquipmentPrintLabelWaiver.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
