@page
@model DPAWaiver.Pages.Private.EquipmentPrintLabel.DetailsModel

@{
ViewData["Title"] = "Details";
}

@if (Model.EquipmentPrintLabelWaiver.CreatedBy.Id != Model.UserWithDepartment.Id)
{
<partial name="_UserInformation" model="@Model.EquipmentPrintLabelWaiver.CreatedBy" />
}
<partial name="_WaiverInformationDisplayOnly" model="@Model.EquipmentPrintLabelWaiver" />
<div class="panel panel-primary marginTop20px">
    <div class="panel-heading">
        <h3 class="panel-title text-center">Waiver Details</h3>
    </div>

    <dl class="dl-horizontal">
        <div class="panel-body">
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.printerType)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.printerType)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.printerType -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.NumberofEquipment)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.NumberofEquipment)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.NumberofEquipment -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.Make)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.Make)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.Make -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.Model)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.Model)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.Model -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.vendorChoice)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.vendorChoice)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.vendorChoice -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.servicesReceived)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.servicesReceived)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.servicesReceived -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.agreementOrWarrantyCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.agreementOrWarrantyCost)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.agreementOrWarrantyCost -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.printerReplacementCycle)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.printerReplacementCycle)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.printerReplacementCycle -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.selectionReason)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.selectionReason)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.selectionReason -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.otherReplacementCycle)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.otherReplacementCycle)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.otherReplacementCycle -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.monthlyCostWithoutToner)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.monthlyCostWithoutToner)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.monthlyCostWithoutToner -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.monthlyMonochromeVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.monthlyMonochromeVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.monthlyMonochromeVolume -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.monthlyColorVolume)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.monthlyColorVolume)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.monthlyColorVolume -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.cyanTonerCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.cyanTonerCost)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.cyanTonerCost -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.blackTonerCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.blackTonerCost)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.blackTonerCost -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.purchaseAmount)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.purchaseAmount)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.purchaseAmount -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.MagentaTonerCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.MagentaTonerCost)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.MagentaTonerCost -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.YellowTonerCost)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.YellowTonerCost)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.YellowTonerCost -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.alternativesDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.alternativesDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.alternativesDescription -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.justificationDescription)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.justificationDescription)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.justificationDescription -->
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12">
                <div class="form-group">
                    <dl class='custom-dl'>
                        <dt style="overflow: visible; white-space: initial;" class='custom-dt'>
                            @Html.DisplayNameFor(model => model.EquipmentPrintLabelWaiver.AdditionalComments)
                        </dt>
                        <dd class='custom-dt'>
                            @Html.DisplayFor(model => model.EquipmentPrintLabelWaiver.AdditionalComments)
                        </dd>
                    </dl><!-- dl end of EquipmentPrintLabelWaiver.AdditionalComments -->
                </div>
            </div>
        </div>
    </dl>

</div>
<partial name="_ViewInvoices" model="@Model.Invoices" />
<partial name="_ViewAttachments" model="@Model.Attachments" />
<partial name="_ViewActions" model="@Model.Actions" />
@await Html.PartialAsync("_PostUnderReview",@Model.EquipmentPrintLabelWaiver, new ViewDataDictionary(ViewData) {
{"garbage", "garbage"},
{ "IsUser", @Model.UserWithDepartment.IsUser()},
{ "IsReviewer", @Model.UserWithDepartment.IsReviewer()},
})




<partial name='_Logout' />
<div style="clear: both"></div>