@page
@model DPAWaiver.Pages.Private.ServiceDesign.EditModel

@{
ViewData["Title"] = "Edit";
}


<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <partial name="_UserInformation" model="@Model.UserWithDepartment" />
    @if (Model.ServiceDesignWaiver.OtherFirstName != null && Model.ServiceDesignWaiver.OtherLastName != null)
    {
    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver On Behalf Of</h3>
        </div>
        <div class="panel-body">

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ServiceDesignWaiver.OtherFirstName" class="control-label fontWeightNormal"></label>
                    <input asp-for="ServiceDesignWaiver.OtherFirstName" class="form-control"
                        placeholder="@Html.DisplayNameFor(model => Model.ServiceDesignWaiver.OtherFirstName)" />
                    <span asp-validation-for="ServiceDesignWaiver.OtherFirstName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label asp-for="ServiceDesignWaiver.OtherLastName" class="control-label fontWeightNormal"></label>
                    <input asp-for="ServiceDesignWaiver.OtherLastName" class="form-control"
                        placeholder="@Html.DisplayNameFor(model => Model.ServiceDesignWaiver.OtherLastName)" />
                    <span asp-validation-for="ServiceDesignWaiver.OtherLastName" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
    }

    <div class="panel panel-primary marginTop20px">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Waiver Information</h3>
        </div>
        <div class="panel-body">
            <div class="row" style="margin-bottom: 14px">
                <div class="col-md-4 col-xs-4">
                    Purpose: Service
                </div>
                <div class="col-md-4 col-xs-4">
                    Type: Design
                </div>
                <div class="col-md-4 col-xs-4">
                    Status: @Model.ServiceDesignWaiver.Status
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="ServiceDesignWaiver.projectName" class="control-label"></label>
                        <input asp-for="ServiceDesignWaiver.projectName" class="form-control" />
                        <span asp-validation-for="ServiceDesignWaiver.projectName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="ServiceDesignWaiver.SubmittedOn" class="control-label"></label>
                        <input asp-for="ServiceDesignWaiver.SubmittedOn" class="form-control" />
                        <span asp-validation-for="ServiceDesignWaiver.SubmittedOn" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-xs-12">
                    <div class="form-group required">
                        <label asp-for="ServiceDesignWaiver.CostEstimate"
                            class="control-label fontWeightNormal"></label>
                        <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                            title="Enter the project cost and estimate such as 9999.99"></span>
                        <input asp-for="ServiceDesignWaiver.CostEstimate" class="form-control fontWeightNormal"
                            required="true"
                            placeholder="@Html.DisplayNameFor(model => model.ServiceDesignWaiver.CostEstimate)" />
                        <span asp-validation-for="ServiceDesignWaiver.CostEstimate" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary marginTop20px">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Waiver Details</h3>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label asp-for="ServiceDesignWaiver.ItemToBeDesigned" class="control-label"></label>
                        <input asp-for="ServiceDesignWaiver.ItemToBeDesigned" class="form-control" />
                        <span asp-validation-for="ServiceDesignWaiver.ItemToBeDesigned" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServiceDesignWaiver.StartedOn" class="control-label"></label>
                        <input asp-for="ServiceDesignWaiver.StartedOn" class="form-control" />
                        <span asp-validation-for="ServiceDesignWaiver.StartedOn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServiceDesignWaiver.DueDate" class="control-label"></label>
                        <input asp-for="ServiceDesignWaiver.DueDate" class="form-control" />
                        <span asp-validation-for="ServiceDesignWaiver.DueDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServiceDesignWaiver.EstimatedNumberOfHours" class="control-label"></label>
                        <input asp-for="ServiceDesignWaiver.EstimatedNumberOfHours" class="form-control" />
                        <span asp-validation-for="ServiceDesignWaiver.EstimatedNumberOfHours"
                            class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServiceDesignWaiver.Status" class="control-label"></label>
                        <select asp-for="ServiceDesignWaiver.Status" class="form-control"></select>
                        <span asp-validation-for="ServiceDesignWaiver.Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServiceDesignWaiver.AdditionalComments" class="control-label"></label>
                        <input asp-for="ServiceDesignWaiver.AdditionalComments" class="form-control" />
                        <span asp-validation-for="ServiceDesignWaiver.AdditionalComments" class="text-danger"></span>
                    </div>
                </div>
                <partial name="_ViewInvoices" model="@Model.Invoices" />
                <partial name="_ViewAttachments" model="@Model.Attachments" />

                <div class="row add-gutter marginTop20px">
                    <div class="pull-right">
                        <a class="btn btn-default" asp-page="/Private/Invoice/Invoice" asp-route-id="@Model.ID"
                            title="Add Invoice" id='addInvoiceButton'>Add Invoice&nbsp;<span
                                class="glyphicon glyphicon-credit-card" aria-hidden="true"></span></a>
                        <a class="btn btn-default" asp-page="/Private/Attachment/Attachment" asp-route-id="@Model.ID"
                            title="Upload Supporting Documents" id='uploadAttachmentButton'>Upload Documents&nbsp;<span
                                class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        </a>

                        <a class="btn btn-default" onclick="print();">Print&nbsp;
                            <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-default btn-space-2x" asp-page="/Private/WaiverList">Waiver List&nbsp;
                            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                        </a>
                        <button type="submit" class="btn btn-primary" id='updateWaiver'>
                            Update Waiver&nbsp;<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>


</form>

<partial name='_Logout' />
<div style="clear: both"></div>
</div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}