@page
@model DPAWaiver.Pages.Private.EquipmentPrintLargeFormat.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Equipment Print Large Format Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.justificationDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.justificationDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.servicesReceived)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.servicesReceived)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.currentMake)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.currentMake)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.currentModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.currentModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.newOrReplace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.newOrReplace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.acquistionDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.acquistionDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.monthlyCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.monthlyCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.averageMonthlyVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.averageMonthlyVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.firstYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.firstYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.secondYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.secondYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.thirdYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.thirdYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.fourthYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.fourthYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.fifthYearVolume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.fifthYearVolume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.equipmentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.equipmentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.numberofEquipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.numberofEquipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.equipmentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.equipmentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.numberofEquipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.numberofEquipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.Make)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.Make)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.acquisitionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.acquisitionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.solicitationSubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.solicitationSubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.purchaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.purchaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.leaseDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.leaseDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.numberOfMonths)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.numberOfMonths)
        </dd> 
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.monthlyLeaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.monthlyLeaseAmount)
        </dd> 
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.makeAndModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.makeAndModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.selectionReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.selectionReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.productionCapacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.productionCapacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.leaseOrPurchase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.leaseOrPurchase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.numberOfYears)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.numberOfYears)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.costOfLeasePerYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.costOfLeasePerYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.expectedUsefulLife)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.expectedUsefulLife)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.depreciationCostPerYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.depreciationCostPerYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.annualMaintenanceCostPerYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.annualMaintenanceCostPerYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.suppliesCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.suppliesCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.softwareName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.softwareName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.softwareCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.softwareCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.annualLicenseFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.annualLicenseFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.numberOfLicenses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.numberOfLicenses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.totalAnnualLicenseCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.totalAnnualLicenseCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.annualMaintenanceCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.annualMaintenanceCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.totalSoftwareCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.totalSoftwareCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.operatorClassification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.operatorClassification)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.productionFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.productionFTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.hoursPerFTEPerWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.hoursPerFTEPerWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.baseHourlyRatePerFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.baseHourlyRatePerFTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.fullyLoadedHourlyRatePerFTE)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.fullyLoadedHourlyRatePerFTE)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.totalAnnualPersonnelCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.totalAnnualPersonnelCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.monthlySupervisionAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.monthlySupervisionAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.monthlyManagementAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.monthlyManagementAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.additionalWorkspaceRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.additionalWorkspaceRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.totalSpaceRequiredInSQFT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.totalSpaceRequiredInSQFT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.costPerSQFT)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.costPerSQFT)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.annualAmountForUtilities)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.annualAmountForUtilities)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.totalSpaceCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.totalSpaceCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.computerCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.computerCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.furnitureCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.furnitureCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.cubiclePartitionCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.cubiclePartitionCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.constructionCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.constructionCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.miscellaneousCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.miscellaneousCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.descriptionMiscellaneousCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.descriptionMiscellaneousCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.totalAdditionalOneTimeCosts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.totalAdditionalOneTimeCosts)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.totalCostOfOwnership)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.totalCostOfOwnership)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.alternativesDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.alternativesDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.additionalComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.additionalComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.OtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.OtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.OtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.OtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.WaiverNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.WaiverNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.ProjectName)
        </dd>
       <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.SubmittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.SubmittedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.CostEstimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.CostEstimate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EquipmentPrintLargeFormatWaiver.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
