@page
@model DPAWaiver.Pages.Private.EquipmentPrintLargeFormat.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Equipment Print A4 Waiver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.equipmentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.equipmentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.SubmittedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.SubmittedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.CostEstimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.CostEstimate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.numberofEquipment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.numberofEquipment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.Make)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.Make)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.newOrReplace)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.newOrReplace)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.servicesReceived)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.servicesReceived)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.solicitationSubType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.solicitationSubType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.purchaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.purchaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.selectionReason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.selectionReason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.leaseDuration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.leaseDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.numberOfMonths)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.numberOfMonths)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.monthlyLeaseAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.monthlyLeaseAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.makeAndModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.makeAndModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.makeAndModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.makeAndModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.estimatedCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.estimatedCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.productionCapacity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.productionCapacity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.acquisitionType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.acquisitionType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.leaseOrPurchase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.leaseOrPurchase)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.numberOfYears)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.numberOfYears)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.alternativesDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.alternativesDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.justificationDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.justificationDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.additionalComments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.additionalComments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.OtherFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.OtherFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.OtherLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.OtherLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.WaiverNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.WaiverNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver.ProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EquipmentPrintLargeFormatWaiver.ProjectName)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EquipmentPrintLargeFormatWaiver.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
