@page
@model DPAWaiver.Pages.Private.EquipmentPrintLargeFormat.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].justificationDescription)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].servicesReceived)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].newOrReplace)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].currentMake)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].currentModel)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].acquisitionDate)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].monthlyCost)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].averageMonthlyVolume)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].firstYearVolume)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].secondYearVolume)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].thirdYearVolume)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].fourthYearVolume)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].fifthYearVolume)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].equipmentType)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].numberofEquipment)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].Make)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].Model)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].acquisitionType)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].solicitationSubType)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].purchaseAmount)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].leaseDuration)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].numberOfMonths)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].monthlyLeaseAmount)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].makeAndModel)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].selectionReason)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].productionCapacity)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].estimatedCost)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].productionCapacity)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].leaseOrPurchase)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].numberOfYears)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].costOfLeasePerYear)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].expectedUsefulLife)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].depreciationCostPerYear)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].annualMaintenanceCostPerYear)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].suppliesCost)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].softwareName)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].softwareCost)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].annualLicenseFee)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].numberOfLicenses)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].totalAnnualLicenseCost)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].annualMaintenanceCost)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].totalSoftwareCosts)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].operatorClassification)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].productionFTE)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].hoursPerFTEPerWeek)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].baseHourlyRatePerFTE)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].fullyLoadedHourlyRatePerFTE)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].totalAnnualPersonnelCost)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].monthlySupervisionAmount)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].monthlyManagementAmount)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].additionalWorkspaceRequired)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].totalSpaceRequiredInSQFT)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].costPerSQFT)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].annualAmountForUtilities)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].totalSpaceCost)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].computerCosts)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].furnitureCosts)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].cubiclePartitionCosts)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].constructionCosts)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].miscellaneousCosts)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].descriptionMiscellaneousCosts)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].totalAdditionalOneTimeCosts)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].totalCostOfOwnership)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].alternativesDescription)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].Status)
                </th>
            <th>
                @Html..DisplayNameFor(model => model.EquipmentPrintLargeFormatWaiver[0].AdditionalComments)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EquipmentPrintLargeFormatWaiver) {
        <tr>
            <td> 
                @Html.DisplayFor(modelItem => item.justificationDescription)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.servicesReceived)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.newOrReplace)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.currentMake)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.currentModel)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.acquisitionDate)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.monthlyCost)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.averageMonthlyVolume)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.firstYearVolume)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.secondYearVolume)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.thirdYearVolume)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.fourthYearVolume)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.fifthYearVolume)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.equipmentType)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.numberofEquipment)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.acquisitionType)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.solicitationSubType)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.purchaseAmount)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.leaseDuration)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.numberOfMonths)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.monthlyLeaseAmount)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.makeAndModel)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.selectionReason)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.productionCapacity)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.estimatedCost)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.productionCapacity)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.leaseOrPurchase)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.numberOfYears)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.costOfLeasePerYear)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.expectedUsefulLife)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.depreciationCostPerYear)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.annualMaintenanceCostPerYear)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.suppliesCost)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.softwareName)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.softwareCost)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.annualLicenseFee)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.numberOfLicenses)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.totalAnnualLicenseCost)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.annualMaintenanceCost)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.totalSoftwareCosts)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.operatorClassification)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.productionFTE)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.hoursPerFTEPerWeek)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.baseHourlyRatePerFTE)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.fullyLoadedHourlyRatePerFTE)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.totalAnnualPersonnelCost)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.monthlySupervisionAmount)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.monthlyManagementAmount)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.additionalWorkspaceRequired)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.totalSpaceRequiredInSQFT)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.costPerSQFT)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.annualAmountForUtilities)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.totalSpaceCost)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.computerCosts)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.furnitureCosts)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.cubiclePartitionCosts)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.constructionCosts)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.miscellaneousCosts)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.descriptionMiscellaneousCosts)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.totalAdditionalOneTimeCosts)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.totalCostOfOwnership)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.alternativesDescription)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.AdditionalComments)
            </td>
            <td>

                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
           
           <td            </td>
        </tr>
}
    </tbody>
</table>
